:root {
    --black: #000;
    --white: #fff;
    --blue10: #f5f8ff;
    --blue20: #f0f4ff;
    --blue30: #e5ecff;
    --blue40: #ccdaff;
    --blue50: #a3bcff;
    --blue60: #7a9fff;
    --blue70: #5785ff;
    --blue80: #4075ff;
    --blue90: #2d67ff;
    --blue100: #003fe5;
    --blue110: #0031b2;
    --blue120: #002585;
    --gray10: #f8fafc;
    --gray20: #f4f6fa;
    --gray30: #eaedf4;
    --gray40: #d7dce5;
    --gray50: #b4c0d3;
    --gray60: #96a0b5;
    --gray70: #8491a7;
    --gray80: #67738e;
    --gray90: #5c667b;
    --gray100: #475067;
    --gray110: #373f57;
    --gray120: #292e41;
    --gray130: #151822;
    --green10: #f3fffd;
    --green20: #ebfffc;
    --green30: #defaf6;
    --green40: #aff4e5;
    --green50: #7beed8;
    --green60: #4fe5c7;
    --green70: #00deb3;
    --green80: #00d3ab;
    --green90: #11be9a;
    --green100: #17a187;
    --green110: #2a7c6d;
    --green120: #286258;
    --greentemp: #00dd64;
    --coral10: #fffafa;
    --coral20: #fff5f7;
    --coral30: #fce6e6;
    --coral40: #fec5c5;
    --coral50: #fea4a3;
    --coral60: #ff837e;
    --coral70: #ff7a72;
    --coral80: #ff6d6a;
    --coral90: #ff5656;
    --coral100: #eb413f;
    --coral110: #d63131;
    --coral120: #b81d1d;
    --orange10: #fffbf5;
    --orange20: #fff7eb;
    --orange30: #ffebcc;
    --orange40: #ffd699;
    --orange50: #ffc46b;
    --orange60: #ffb84d;
    --orange70: #ffa929;
    --orange80: #ff9a03;
    --orange90: #f09000;
    --orange100: #e08700;
    --orange110: #b86e00;
    --orange120: #804d00;
    --yellow10: #fffbeb;
    --yellow20: #fff7d6;
    --yellow30: #fff2b8;
    --yellow40: #ffe885;
    --yellow50: #ffe15f;
    --yellow60: #ffdb3d;
    --yellow70: #ffd41a;
    --yellow80: #facb00;
    --yellow90: #ebbf00;
    --yellow100: #dbb200;
    --yellow110: #ad8d00;
    --yellow120: #755f00;
    --forestGreen10: #f0fff6;
    --forestGreen20: #e0ffed;
    --forestGreen30: #c7ffdd;
    --forestGreen40: #8affb9;
    --forestGreen50: #57ff9a;
    --forestGreen60: #00ff66;
    --forestGreen70: #00e55c;
    --forestGreen80: #00cc52;
    --forestGreen90: #00be4c;
    --forestGreen100: #00a843;
    --forestGreen110: #008535;
    --forestGreen120: #006629;
    --skyBlue10: #f5fdff;
    --skyBlue20: #ebfaff;
    --skyBlue30: #dbf7ff;
    --skyBlue40: #bdf0ff;
    --skyBlue50: #99e8ff;
    --skyBlue60: #70dfff;
    --skyBlue70: #57d9ff;
    --skyBlue80: #02c6ff;
    --skyBlue90: #00b6eb;
    --skyBlue100: #00a2d1;
    --skyBlue110: #008ab2;
    --skyBlue120: #006380;
    --violet10: #fcfaff;
    --violet20: #f8f5ff;
    --violet30: #efe5ff;
    --violet40: #deccff;
    --violet50: #cbadff;
    --violet60: #b185ff;
    --violet70: #9d66ff;
    --violet80: #8d4dff;
    --violet90: #7224ff;
    --violet100: #5a00fa;
    --violet110: #4600c2;
    --violet120: #2e0080;

    /* 지하철 노선 */
    /* 서울 */
    --subwayLine101: #0052a4;
    --subwayLine102: #34a344;
    --subwayLine103: #ec611b;
    --subwayLine104: #2995d6;
    --subwayLine105: #7c38d6;
    --subwayLine106: #ab4518;
    --subwayLine107: #5e661f;
    --subwayLine108: #df1c62;
    --subwayLine109: #ca9a35;
    --subwayLine201: #dd9520;
    /* 수인분당 */
    --subwayLine1101: #9c1b2c;
    /* 신분당 */
    --subwayLine901: #2c96df;
    /* 공항철도 */
    --subwayLine301: #6490c7;
    /* 인천1호선 */
    --subwayLine302: #ed8b00;
    /* 인천2호선 */
    --subwayLine1801: #395697;
    /* 신림 */
    --subwayLine1601: #7eb543;
    /* 서해 */
    --subwayLine1701: #8b651b;
    /* 김포골드 */
    --subwayLine1501: #bcb202;
    /* 우이신설 */
    --subwayLine203: #216ceb;
    /* 경강선 */
    --subwayLine202: #fe9132;
    /* 의정부 */
    --subwayLine1201: #159768;
    /* 경춘 */
    --subwayLine1301: #61aa5e;
    /* 에버라인 */
    --subwayLine1001: #66af90;
    /* 경의중앙 */
    --subwayLine303: #feb700;
    /* 자기부상 */
    /* 부산 */
    --subwayLine401: #ec5430;
    --subwayLine402: #34a344;
    --subwayLine403: #b68748;
    --subwayLine404: #3a66a9;
    --subwayLine405: #74428f;
    /* 부산김해 */
    --subwayLine406: #5d95c8;
    /* 동해 */
    /* 대구 */
    --subwayLine501: #ec5430;
    --subwayLine502: #34a344;
    --subwayLine503: #feb700;
    /* 광주 */
    --subwayLine601: #34a344;
    /* 대전 */
    --subwayLine801: #34a344;
}



.header-sc {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
}

@media (max-width: 1080px) {
    .header-sc {
        border-bottom: unset;
    }
}

.div-sc1 {
    position: relative;
    max-width: 1060px;
    margin: 0px auto;
}

.div-sc2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    transition: 0.2s;
}

@media (max-width: 1080px) {
    .div-sc2 {
        padding: 0px 16px;
    }
}

.div-sc2 .logo-wrap {
    padding-top: 5px;
}

.logo-top {
    display: inline-flex;
}

.searchbox-top {
    position: relative;
}

@media (max-width: 1080px) {
    .searchbox-top {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 64px;
        background-color: rgb(255, 255, 255);
        z-index: 11;
    }
}


.searchbox-inner {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 1060px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

@media (max-width: 1080px) {
    .searchbox-inner {
        width: calc(100% - 32px);
    }
}

.searchbox-inner .search-box {
    width: 480px;
    height: 40px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 100px;
    border: 1.5px solid rgb(0, 221, 109);
}

@media (max-width: 1080px) {
    .searchbox-inner .search-box {
        width: 100%;
        margin-left: 0px;
    }
}


.searchbox-inner .search-box input {
    width: 100%;
    padding: 0px 40px 0px 44px;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0px;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 1080px) {
    .searchbox-inner .search-box input {
        padding: 0px 48px 0px 44px;
    }
}

.searchbox-inner .search-button {
    position: absolute;
    left: 16px;
    top: 8px;
}

.searchbox-inner .search-button svg g circle {
    stroke: rgb(0, 221, 109);
}

.searchbox-inner .search-button svg g path {
    stroke: rgb(0, 221, 109);
}

.searchbox-inner .close-button {
    display: none;
}

@media (max-width: 1080px) {
    .searchbox-inner .close-button {
        display: block;
        width: 46px;
        margin-left: 5px;
        text-align: right;
        color: rgb(153, 153, 153);
        font-size: 14px;
        line-height: 20px;
    }
}

/*  */

.media-searchbox {
    z-index: 50;
    display: none;
}

@media (max-width: 1080px) {
    .media-searchbox {
        display: flex;
    }
}

.media-searchbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    position: relative;
}

@media (max-width: 1080px) {
    .media-searchbtn {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
}

.media-searchbtn svg {
    width: 24px;
}

/*  */

.searchbox-hidden {
    position: absolute;
    top: 51px;
    left: 0px;
    width: 472px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    box-shadow: rgba(20, 20, 20, 0.12) 0px 8px 16px;
    border-radius: 8px;
    z-index: 6;
    padding: 24px;
}

@media (max-width: 1080px) {
    .searchbox-hidden {
        position: relative;
        width: calc(100% - 32px);
        padding: 16px;
        top: unset;
        left: unset;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
        display: block;
    }
}

/* @media (min-width: 1080px) {
    .searchbox-hidden {
        display: none;
    }
} */


.recentsearch {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 12px;
}

.recentsearch h4 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.searchbox-hidden-content {
    padding: 28px 0px 36px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}

.searchbox-onclick {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}


@media (max-width: 1080px) {
    .searchbox-onclick {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 7;
    }
}

.nav-sc3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

@media (max-width: 1080px) {
    .nav-sc3 {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        flex-wrap: nowrap;
        padding: 0px 16px;
        border-bottom: 1px solid rgb(228, 228, 228);
    }
}


.header4 {
    display: flex;
    margin-left: -20px;
}

@media (max-width: 1080px) {
    .header4 {
        margin-left: -10px;
        padding: 0px 20px 0px 0px;
    }
}

.header4>li {
    position: relative;
    padding: 0px 20px;
}

@media (max-width: 1080px) {
    .header4>li {
        padding: 0px 10px;
    }
}

.header-element5 {
    font-weight: 400;
}

.header4>li>a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 10px 4px;
    font-size: 16px;
    line-height: 24px;
}

.header-right6 {
    display: flex;
    margin-right: -12px;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 1080px) {
    .header-right6 {
        display: none;
    }
}

.header-right6 li {
    position: relative;
    padding: 0px 12px;
}

.header-right-user7 {
    padding-top: 1px;
    height: 42px;
}

.header-right-menu8 {
    display: none;
    position: absolute;
    width: 175px;
    right: 0px;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    box-shadow: rgba(20, 20, 20, 0.12) 0px 8px 16px;
    border-radius: 4px;
    padding: 8px 0px;
    background-color: rgb(255, 255, 255);
}

.header-right-user7 button {
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header-right6 li button {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    text-align: end;
}

.header-right-user7 svg {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.header-right-menu8 ul li {
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 22px;
}

.header-right-menu8 ul li>a,
.header-right-menu8 ul li button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0px 8px;
    font-weight: normal;
}

.resume-main {
    background-color: rgb(255, 255, 255);
    padding-top: 120px;
}

@media (max-width: 1080px) {
    .resume-main {
        padding-top: 120px;
    }
}

.resume-inner {
    width: 100%;
    height: fit-content;
    padding: 40px 0px 140px;
    background-color: rgb(245, 245, 248);
}

@media (max-width: 1080px) {
    .resume-inner {
        background-color: rgb(255, 255, 255);
        padding-top: 0px;
    }
}

/*  */
.resume-inner-section {
    position: relative;
    width: 980px;
    height: 100%;
    margin: 0px auto 20px;
    padding: 32px 40px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

@media (max-width: 1080px) {
    .resume-inner-section {
        padding-top: 40px;
        width: calc(100% - 80px);
        border-radius: 0px;
    }
}

.resume-inner-section>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-content-list2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.resume-content3 {
    width: 100%;
    height: 180px;
    flex: 0 1 316px;
    margin: 16px 10px 0px 0px;
    background-color: rgb(245, 245, 248);
    border-radius: 12px;
}

@media (max-width: 1080px) {
    .resume-content3 {
        flex-basis: calc(50% - 8px);
    }
}

@media (max-width: 1080px) {
    .resume-content:nth-child(2n) {
        margin-right: 0px;
    }
}

.resume-content-inner4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 40px);
    padding: 20px;
}

.resume-content-top {
    position: relative
}


.resume-content-top>button {
    position: absolute;
    top: 0px;
    right: 0px;
}

.resume-content-top>h2 {
    width: 244px;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.resume-content-top>a>ul {
    display: flex;
    margin-top: 12px;
}

.resume-content-top>a>ul>li {
    position: relative;
    margin-right: 26px;
    font-size: 13px;
    line-height: 18px;
    color: rgb(68, 68, 68);
}

.managemenu-wrapper {
    position: absolute;
    top: 28px;
    right: 0px;
    width: 128px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
    border-radius: 8px;
    z-index: 1;
}

.managemenu-wrapper > ul {
    padding: 8px;
}

.managemenu-wrapper > ul > li > button {
    width: 100%;
    height: 48px;
    padding: 12px 8px;
    text-align: left;
    color: rgb(0, 0, 0);
}
.managemenu-wrapper > ul > li > button.warning {
    color: rgb(240, 68, 82);
}

.managemenu-wrapper > ul > li > button:disabled {
    color: rgb(196, 196, 196);
}

.resume-content-element::after {
    position: absolute;
    top: 5px;
    right: -12px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: rgb(255, 78, 99);
    box-sizing: border-box;
    content: "";
}

.resume-content-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid rgb(228, 228, 228);
}

.resume-content-bottom>div {
    display: flex;
    align-items: center;
}

.resume-open-button {
    width: 26px;
    height: 16px;
    border-radius: 26px;
    cursor: pointer;
    position: relative;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(228, 228, 228);
}

.resume-open-button.public {
    width: 26px;
    height: 16px;
    border-radius: 26px;
    cursor: pointer;
    position: relative;
    background-color: rgb(0, 221, 109);
    border: 1px solid rgb(0, 221, 109);
}



.resume-content-bottom>div>button {
    margin-right: 6px;
}

.resume-open-button::before {
    content: "";
    display: block;
    position: absolute;
    transition: 0.5s;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    top: 0px;
    margin-left: 1px;
}

.resume-open-button.public::before {
    content: "";
    display: block;
    position: absolute;
    transition: 0.5s;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    top: 0px;
    margin-left: 10px;
}



.resume-content-bottom>div>span {
    font-size: 14px;
    line-height: 20px;
    color: rgb(68, 68, 68);
}

.resume-question {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: -1px;
}

.resume-question-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;
    font-weight: 700;
    text-align: center;
    border-radius: 14px;
    cursor: pointer;
    font-size: 11px;
    line-height: 16px;
    color: rgb(196, 196, 196);
    background: none;
    border: 1px solid rgb(196, 196, 196);
}

.resume-question-inner.clicked {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;
    font-weight: 700;
    text-align: center;
    border-radius: 14px;
    cursor: pointer;
    font-size: 11px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    background: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
}


.resume-question-inner::before {
    content: "?";
}

.resume-content-bottom>span {
    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}

.resumeopen-tooltip1 {
    white-space: nowrap;
    position: absolute;
    z-index: 3;
    color: rgb(102, 102, 102);
    background-color: rgb(255, 255, 255);
    animation: 0.3s linear 0s 1 normal none running none;
    top: 28px;
    transform: translate(calc(0%), 0px);
    padding: 16px 50px 16px 16px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
}

.resumeopen-tooltip1 > button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.resumeopen-tooltip2 {
    white-space: nowrap;
    position: absolute;
    z-index: 3;
    color: rgb(102, 102, 102);
    background-color: rgb(255, 255, 255);
    animation: 0.3s linear 0s 1 normal none running none;
    top: 28px;
    transform: translate(calc(0%), 0px);
    padding: 16px 50px 16px 16px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
}

.resumeopen-tooltip2 > button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.new-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media (max-width: 1080px) {
    .new-resume {
        flex-basis: calc(50% - 8px);
    }
}

@media (max-width: 1080px) {
    .new-resume:nth-child(2n) {
        margin-right: 0px;
    }
}

.new-resume>p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(68, 68, 68);
}

.new-resume svg {
    width: 32px;
    height: 32px;
}

.resume-inner-section h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: rgb(34, 34, 34);
}

.resume-inner-section>em {
    margin: 8px 0px;
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: rgb(68, 68, 68);
}

.file-container {
    margin: 20px 0px 0px;
}

.file-container>li {
    display: flex;
    height: 52px;
    align-items: center;
    margin: 8px 0px 0px;
    padding: 0px 16px;
    background-color: rgb(245, 245, 248);
    border-radius: 8px;
    cursor: pointer;
}

.file-container>li>.file-type {
    display: inline-block;
    background-color: rgb(34, 34, 34);
    padding: 1px 6px 0px;
    font-size: 13px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 0px 8px 0px 0px;
}

.file-container>li>.file-title {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 24px;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    margin-right: 24px;
}

.file-container>li>.file-create {
    font-size: 14px;
    line-height: 20px;
    color: rgb(119, 119, 119);
    min-width: 95px;
    flex-shrink: 0;
    margin-right: 5px;
    text-align: right;
}

.file-container>li>button {
    position: relative;
    top: 1px;
}

.file-container>.empty-file {
    border-radius: 8px;
    color: rgb(164, 164, 164);
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    border: 1px dashed rgb(212, 212, 212);
    margin: 0px 0px 20px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.file-add-area>button {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 20px 0px 0px;
    color: rgb(68, 68, 68);
    font-weight: 500;
}

.file-add-area>button>svg {
    margin-right: 6px;
}