html,
body,
header,
nav,
aside,
main,
article,
section,
footer,
h1,
h2,
h3,
h4,
ul,
ol,
li,
dl,
dt,
dd,
p,
pre,
em,
address,
blockquote,
q,
form,
fieldset,
input,
textarea,
select,
button,
iframe {
    margin: 0px;
    padding: 0px;
}

header,
nav,
aside,
main,
article,
section,
footer {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    text-size-adjust: none;
    font-synthesis: none !important;
}

body {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

input,
textarea,
select,
button {
    border-radius: 0px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    border-radius: 0px;
    background: none;
    cursor: pointer;
}

input {
    appearance: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.typography-heading1 {
    font-size: 56px;
    line-height: 74px
}

@media (max-width: 480px) {
    .typography-heading1 {
        font-size: 40px;
        line-height: 52px
    }
}

.typography-heading2 {
    font-size: 50px;
    line-height: 66px
}

@media (max-width: 480px) {
    .typography-heading2 {
        font-size: 36px;
        line-height: 48px
    }
}

.typography-heading3 {
    font-size: 48px;
    line-height: 64px
}

@media (max-width: 480px) {
    .typography-heading3 {
        font-size: 32px;
        line-height: 42px
    }
}

.typography-heading4 {
    font-size: 40px;
    line-height: 52px
}

@media (max-width: 480px) {
    .typography-heading4 {
        font-size: 32px;
        line-height: 42px
    }
}

.typography-heading5 {
    font-size: 36px;
    line-height: 48px
}

@media (max-width: 480px) {
    .typography-heading5 {
        font-size: 30px;
        line-height: 40px
    }
}

.typography-heading6 {
    font-size: 32px;
    line-height: 42px
}

@media (max-width: 480px) {
    .typography-heading6 {
        font-size: 28px;
        line-height: 38px
    }
}

.typography-title1 {
    font-size: 30px;
    line-height: 40px
}

.typography-title2 {
    font-size: 28px;
    line-height: 38px
}

@media (max-width: 480px) {
    .typography-title2 {
        font-size: 24px;
        line-height: 32px
    }
}

.typography-title3 {
    font-size: 24px;
    line-height: 32px
}

@media (max-width: 480px) {
    .typography-title3 {
        font-size: 22px;
        line-height: 30px
    }
}

.typography-title4 {
    font-size: 20px;
    line-height: 28px
}

.typography-subTitle1 {
    font-size: 22px;
    line-height: 30px
}

@media (max-width: 480px) {
    .typography-subTitle1 {
        font-size: 20px;
        line-height: 28px
    }
}

.typography-subTitle2 {
    font-size: 18px;
    line-height: 26px
}

.typography-content1 {
    font-size: 17px;
    line-height: 24px
}

.typography-content2-normal {
    font-size: 16px;
    line-height: 24px
}

.typography-content2-reading {
    font-size: 16px;
    line-height: 28px
}

.typography-content3 {
    font-size: 15px;
    line-height: 22px
}

.typography-content4 {
    font-size: 14px;
    line-height: 20px
}

.typography-content5 {
    font-size: 13px;
    line-height: 18px
}

.typography-caption1 {
    font-size: 12px;
    line-height: 16px
}

.typography-caption2 {
    font-size: 11px;
    line-height: 16px
}

.scroll-vertical::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: var(--scrollbar-track-radius)
}

.scroll-vertical::-webkit-scrollbar-track:hover {
    background-color: var(--scrollbar-track-hover, var(--scrollbar-track))
}

.scroll-vertical::-webkit-scrollbar-track:active {
    background-color: var(--scrollbar-track-active, var(--scrollbar-track-hover, var(--scrollbar-track)))
}

.scroll-vertical::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: var(--scrollbar-thumb-radius)
}

.scroll-vertical::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover, var(--scrollbar-thumb))
}

.scroll-vertical::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active, var(--scrollbar-thumb-hover, var(--scrollbar-thumb)))
}

.scroll-vertical::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner);
    border-radius: var(--scrollbar-corner-radius)
}

.scroll-vertical::-webkit-scrollbar-corner:hover {
    background-color: var(--scrollbar-corner-hover, var(--scrollbar-corner))
}

.scroll-vertical::-webkit-scrollbar-corner:active {
    background-color: var(--scrollbar-corner-active, var(--scrollbar-corner-hover, var(--scrollbar-corner)))
}

.scroll-vertical {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-thumb, initial) var(--scrollbar-track, initial)
}

.scroll-vertical::-webkit-scrollbar {
    display: block;
    width: var(--scrollbar-width, 16px);
    height: var(--scrollbar-height, 16px)
}

.scroll-vertical {
    --scrollbar-thumb: #eaeaea;
    --scrollbar-width: 8px
}

* {
    scrollbar-color: auto;
    scrollbar-width: auto
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(5, 122, 242, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(5, 122, 242, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

.container {
    width: 100%
}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}

.visible {
    visibility: visible
}

.invisible {
    visibility: hidden
}

.collapse {
    visibility: collapse
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.top-6 {
    top: 1.5rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-spacing-16 {
    margin-bottom: 16px
}

.mb-spacing-32 {
    margin-bottom: 32px
}

.mb-spacing-40 {
    margin-bottom: 40px
}

.ml-spacing-2 {
    margin-left: 2px
}

.ml-spacing-4 {
    margin-left: 4px
}

.mr-2 {
    margin-right: .5rem
}

.box-border {
    box-sizing: border-box
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.h-14 {
    height: 3.5rem
}

.h-5 {
    height: 1.25rem
}

.h-\[28px\] {
    height: 28px
}

.h-\[36px\] {
    height: 36px
}

.h-\[40px\] {
    height: 40px
}

.h-\[48px\] {
    height: 48px
}

.h-\[56px\] {
    height: 56px
}

.h-\[64px\] {
    height: 64px
}

.w-5 {
    width: 1.25rem
}

.w-\[328px\] {
    width: 328px
}

.w-\[80px\] {
    width: 80px
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}

.max-w-\[520px\] {
    max-width: 520px
}

.flex-shrink {
    flex-shrink: 1
}

.flex-shrink-0 {
    flex-shrink: 0
}

.flex-grow {
    flex-grow: 1
}

.border-collapse {
    border-collapse: collapse
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.resize {
    resize: both
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.gap-\[12px\] {
    gap: 12px
}

.gap-\[24px\] {
    gap: 24px
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.whitespace-break-spaces {
    white-space: break-spaces
}

.break-all {
    word-break: break-all
}

.break-keep {
    word-break: keep-all
}

.rounded {
    border-radius: .25rem
}

.rounded-r1 {
    border-radius: 4px
}

.rounded-r2 {
    border-radius: 8px
}

.rounded-r3 {
    border-radius: 12px
}

.rounded-r4 {
    border-radius: 16px
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0
}

.border-1 {
    border-width: 1px
}

.border-2 {
    border-width: 2px
}

.border-\[1px\] {
    border-width: 1px
}

.border-b-1 {
    border-bottom-width: 1px
}

.border-solid {
    border-style: solid
}

.border-\[\#d4d4d4\] {
    --tw-border-opacity: 1;
    border-color: rgb(212 212 212/var(--tw-border-opacity))
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(234 234 234/var(--tw-border-opacity))
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(214 214 214/var(--tw-border-opacity))
}

.bg-\[\#e4e4e4\] {
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 228/var(--tw-bg-opacity))
}

.bg-\[\#f4f4f4\] {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 244/var(--tw-bg-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 221 109/var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.p-10 {
    padding: 2.5rem
}

.p-4 {
    padding: 1rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-\[8px\] {
    padding-left: 8px;
    padding-right: 8px
}

.pb-spacing-16 {
    padding-bottom: 16px
}

.text-center {
    text-align: center
}

.font-bold {
    font-weight: 700
}

.font-normal {
    font-weight: 400
}

.italic {
    font-style: italic
}

.\!text-\[\#666\] {
    --tw-text-opacity: 1 !important;
    color: rgb(102 102 102/var(--tw-text-opacity)) !important
}

.text-\[\#222\] {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity))
}

.text-\[\#2D65F2\] {
    --tw-text-opacity: 1;
    color: rgb(45 101 242/var(--tw-text-opacity))
}

.text-\[\#666\] {
    --tw-text-opacity: 1;
    color: rgb(102 102 102/var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(154 154 154/var(--tw-text-opacity))
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(124 124 124/var(--tw-text-opacity))
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(94 94 94/var(--tw-text-opacity))
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(236 64 78/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.outline {
    outline-style: solid
}

.blur {
    --tw-blur: blur(8px)
}

.blur,
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-filter {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.last-of-type\:mb-0:last-of-type {
    margin-bottom: 0
}

.checked\:border-primary:checked {
    --tw-border-opacity: 1;
    border-color: rgb(0 221 109/var(--tw-border-opacity))
}

.checked\:content-\[url\(\'\/assets\/images\/attach-checked\.svg\'\)\]:checked {
    --tw-content: url(/assets/images/attach-checked.svg);
    content: var(--tw-content)
}

.peer:hover~.peer-hover\:block {
    display: block
}

.hover\:bg-\[\#01C662\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(1 198 98/var(--tw-bg-opacity))
}

.hover\:bg-\[\#333\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(51 51 51/var(--tw-bg-opacity))
}

.hover\:bg-\[\#d4d4d4\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(212 212 212/var(--tw-bg-opacity))
}

.hover\:bg-\[\#f8f8f8\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 248 248/var(--tw-bg-opacity))
}

.hover\:font-bold:hover {
    font-weight: 700
}

.hover\:text-\[\#222\]:hover {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity))
}

.hover\:text-\[\#2D65F2\]:hover {
    --tw-text-opacity: 1;
    color: rgb(45 101 242/var(--tw-text-opacity))
}

.hover\:underline:hover {
    text-decoration-line: underline
}

.disabled\:bg-\[\#d4d4d4\]:disabled {
    --tw-bg-opacity: 1;
    background-color: rgb(212 212 212/var(--tw-bg-opacity))
}

.disabled\:text-\[\#d4d4d4\]:disabled {
    --tw-text-opacity: 1;
    color: rgb(212 212 212/var(--tw-text-opacity))
}

.disabled\:text-white:disabled {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width:768px) {
    .md\:w-\[340px\] {
        width: 340px
    }
}

@font-face {
    font-family: __PretendardFont_f53396;
    src: url(/_next/static/media/ff840cfebfb63b0c-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: __PretendardFont_Fallback_f53396;
    src: local("Arial");
    ascent-override: 93.76%;
    descent-override: 23.75%;
    line-gap-override: 0.00%;
    size-adjust: 101.55%
}

.__className_f53396 {
    font-family: __PretendardFont_f53396, __PretendardFont_Fallback_f53396, -apple-system, system-ui, Apple SD Gothic Neo, Malgun Gothic, Nanum Gothic, sans-serif
}