<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.app.temp.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.temp.domain.dto.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.app.temp.domain.dto.CompanyDTO" alias="companyDTO"/>
        <typeAlias type="com.app.temp.domain.vo.CompanyMemberVO" alias="companyMemberVO"/>
        <typeAlias type="com.app.temp.domain.dto.CompanyMemberDTO" alias="companyMemberDTO"/>
    </typeAliases>
</configuration>