<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/introduce.css">
</head>

<body>
    <header></header>
    <main class="sc-91f7b759-0 htkZDl">
        <div>
            <section class="sc-f3082fc2-4 fylZAL">
                <div class="sc-f3082fc2-5 eMNyeP">
                    <h1 class="sc-f3082fc2-6 fDyidu"><span>우리는<br> 일자리 체험을통해<br> 개인의 성장을 돕습니다</span><em
                            class="sc-f3082fc2-2 jJVDIY">.</em><span class="sc-f3082fc2-7 bQeUjs"></span></h1>
                </div>
                <div class="sc-f3082fc2-8 hIokHI"></div>
            </section>
            <section class="sc-f3082fc2-4 ehBBKl">
                <div class="sc-f3082fc2-9 fyYrWM">
                    <h2 class="sc-f3082fc2-0 dkpXrm">플랫폼 중<br>왜 TEMP일까<em class="sc-f3082fc2-2 jJVDIY">.</em></h2>

                </div>
                </section>
                <section class="feature">
                    <div class="feture-container">
                        <div class="feature-box">
                            <div class="feature-left">
                                <div class="feature_title">
                                    <h2><strong>feature</strong></h2>
                                </div>
                                <div class="feature-pic">
                                    <img width="640" height="710"
                                        src="https://cdn.qshop.ai/25248/gallery/933dece0edb411efa43b3d00486a6575.jpeg/resize?v=w1280"
                                        alt="" srcset="">
                                </div>
                            </div>
                            <div class="feature_info">
                                <div class="info">우리 플랫폼은 다양한 산업의 포괄적인 일자리 목록을 제공하여, 사용자들이 쉽게 원하는 직업을 찾을 수 있도록 돕습니다</div>
                                <div class="info">사용자 맞춤형 경험을 제공하여, 개인의 경력 목표와 선호도에 맞는 맞춤형 일자리 추천을 받을 수 있습니다.</div>
                                <div class="info">전문가의 지도를 통해 경력 개발에 필요한 조언과 지원을 받아, 성공적인 직업 경로를 설계할 수 있습니다.</div>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="sc-f3082fc2-4 fylZAL">
                
                <h2 class="sc-f3082fc2-0 jlzKcE">TEMP 함께하는<br> 소중한 기업<em class="sc-f3082fc2-2 jJVDIY">.</em></h2>
                <div class="sc-f3082fc2-16 gXJzCp" id="tempforlogo">
                    <div class="logo"><img src="/images/main/coupang.png" alt="" srcset=""></div>
                    <div class="logo"><img src="/images/main/baemin.png" alt="" srcset=""></div>
                    <div class="logo"><img src="/images/main/kia.png" alt="" srcset=""></div>
                    <div class="logo"><img src="/images/main/lg.png" alt="" srcset=""></div>
                    <div class="logo"><img src="/images/main/samsung.png" alt="" srcset=""></div>
                    <div class="logo"><img src="/images/main/coupangeats.jpg" alt="" srcset=""></div>
                </div>
            </section>
        </div>
        </main>
        <footer></footer>
        </body>

</html>







