<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://cdn.jumpit.co.kr" />
    <link href="https://cdn.jumpit.co.kr" rel="dns-prefetch" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link href="https://www.googletagmanager.com" rel="dns-prefetch" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="preload" href="https://jumpit.saramin.co.kr/_next/media/ff840cfebfb63b0c-s.p.woff2" as="font"
        crossorigin="" type="font/woff2" />
    <link rel="stylesheet" href="https://jumpit.saramin.co.kr/_next/css/cad931bac97f5ecb.css"
        data-precedence="next" />
    <link rel="stylesheet" href="/css/resume/resume-main1.css" />
    <link rel="stylesheet" href="/css/resume/resume-main3.css" />
    <link rel="stylesheet" href="/css/resume/resume-main2.css" />
    <title>템프 | 이력서 홈</title>
    <style>
        @font-face {
            font-family: Jumpit;
            src: url("/fonts/member/ff840cfebfb63b0c-s.p.woff2");
        }

        * {
            font-family: Jumpit;
        }
    </style>
</head>

<body class="__className_f53396">

    <div class="searchbox-top formedia"></div>
    <div class="searchbox-onclick formedia"></div>
    <main class="resume-main">
        <div>
            <div class="resume-inner">
                <section class="resume-inner-section">
                    <div>
                        <h1>이력서 관리</h1>
                    </div>
                    <ul class="resume-content-list2">
                        <li class="resume-content3">
                            <div class="resume-content-inner4">
                                <div class="resume-content-top">
                                    <button type="button" class="resumemanage">
                                        <span style="display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" fill="none" viewBox="0 0 24 24">
                                                <path fill="#A4A4A4" fill-rule="evenodd"
                                                    d="M10 5a2 2 0 1 0 4 0 2 2 0 0 0-4 0Zm2 9a2 2 0 1 1 0-4 2 2 0 0 1 0 4Zm0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4Z"
                                                    clip-rule="evenodd"></path>
                                            </svg></span>
                                    </button>
                                    <div class="managemenu-wrapper hidden">
                                        <ul>
                                            <li><button type="button">다운로드</button></li>
                                            <li><button type="button">이력서 복사</button></li>
                                            <li><button class="warning" type="button" disabled="">이력서 삭제</button></li>
                                        </ul>
                                    </div>
                                    <h2>
                                        <a href="/resume/468095">김승균이력서_250130</a>
                                    </h2>
                                    <a href="/resume/468095">
                                        <ul>
                                            <li class="resume-content-element">
                                                기술스택
                                            </li>
                                            <li class="resume-content-element">
                                                학력
                                            </li>
                                            <li class="resume-content-element">
                                                경력/프로젝트
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                                <div class="resume-content-bottom">
                                    <div>
                                        <button type="button" class="resume-open-button"></button>
                                        <span>비공개</span>
                                        <div class="resume-question">
                                            <div class="resume-question-inner"></div>
                                        </div>
                                        <div class="resumeopen-tooltip1 tooltip-message hidden"><button type="button"><span
                                                    style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="24" height="24">
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path d="M0 0h24v24H0z"></path>
                                                            <path stroke="#C4C4C4" stroke-linejoin="round"
                                                                stroke-width="1.5" d="M18 6 6 18M6 6l12 12"></path>
                                                        </g>
                                                    </svg></span></button><strong>모든 정보가 비공개</strong> 됩니다.<br>입사지원한
                                            기업에서만<br>이력서를 확인할 수 있습니다.</div>
                                        <div class="resumeopen-tooltip2 tooltip-message hidden"><button type="button"><span
                                                    style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="24" height="24">
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path d="M0 0h24v24H0z"></path>
                                                            <path stroke="#C4C4C4" stroke-linejoin="round"
                                                                stroke-width="1.5" d="M18 6 6 18M6 6l12 12"></path>
                                                        </g>
                                                    </svg></span></button>이력서 열람서비스를<br>준비 중입니다. 이력서 공개하시면<br> 추후
                                            <strong>이력서 열람 서비스를<br>통한 면접제안</strong>을 받으실 수 있습니다.</div>

                                    </div>
                                    <span>2025.01.30 등록</span>
                                </div>
                            </div>
                        </li>
                        <li class="resume-content3">
                            <div class="new-resume">
                                <button type="button">
                                    <span style="display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                            height="20" fill="none" viewBox="0 0 20 20">
                                            <path fill="#00DD6D" fill-rule="evenodd"
                                                d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10ZM9 9V5.5h2V9h3.5v2H11v3.5H9V11H5.5V9H9Z"
                                                clip-rule="evenodd"></path>
                                        </svg></span>
                                </button>
                                <p>새로운 이력서를 추가해보세요!</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="resume-inner-section">
                    <h1>첨부파일</h1>
                    <em>경험을 보여줄 수 있는 포트폴리오 / 경력기술서 등을
                        첨부해보세요. (PDF를 권장합니다.)</em>
                    <ul class="file-container">
                        <!-- 아래의 태그는 테스트용 태그라 인라인 속성 걸어놓음 -->
                        <!-- 나중에 서버까지 연동하면 꼭 li 태그+그 안의 코드들  지울 것! -->
                        <!-- <li class="added-file">
                                <span class="file-type">PDF</span
                                ><span class="file-title">TEST1.pdf</span
                                ><span class="file-create">2025.02.06 등록</span
                                >
                                <button type="button" class="file-remove">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="none"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            fill="#C4C4C4"
                                            fill-rule="evenodd"
                                            d="M4.667 2h6.666v2.667H14V6h-1.333v8H3.333V6H2V4.667h2.667V2ZM6 4.667h4V3.333H6v1.334ZM4.667 6v6.667h6.666V6H4.667ZM6 10.667V8h1.333v2.667H6ZM8.667 8v2.667H10V8H8.667Z"
                                            clip-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li> -->
                        <li class="empty-file">첨부파일이 비어있습니다.</li>
                    </ul>
                    <p class="file-add-area">
                        <button for="attach" id="addfilebutton" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                viewBox="0 0 20 20">
                                <path fill="#00DD6D" fill-rule="evenodd"
                                    d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10ZM9 9V5.5h2V9h3.5v2H11v3.5H9V11H5.5V9H9Z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            첨부파일 추가</button><input id="attach" hidden="" type="file"/>
                    </p>
                </section>
            </div>
        </div>
    </main>
    <div id="modal"></div>

    <div id="criteo-tags-div" style="display: none"></div>
</body>
<script src="/js/resume/resume-main.js"></script>

</html>