<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/resume/resume-main1.css" />
    <link rel="stylesheet" href="/css/resume/resume-main3.css" />
    <link rel="stylesheet" href="/css/resume/resume-main2.css" />
    <link rel="stylesheet" href="/css/member/header.css">
    <title>템프 | 이력서 홈</title>
    <style>
        @font-face {
            font-family: Jumpit;
            src: url("/fonts/member/ff840cfebfb63b0c-s.p.woff2");
        }

        * {
            font-family: Jumpit;
        }
    </style>
</head>

<body class="__className_f53396">
<header th:replace="/main/header.html :: .header-sc"></header>
    <div class="searchbox-top formedia"></div>
    <div class="searchbox-onclick formedia"></div>
    <main class="resume-main">
        <div>
            <div class="resume-inner">
                <section class="resume-inner-section">
                    <div>
                        <h1>이력서 관리</h1>
                    </div>
                    <ul class="resume-content-list2" id="resume-con3" >

<!--                        <li class="resume-content3">-->
<!--                            <div class="new-resume">-->
<!--                                <button type="button">-->
<!--                                    <span style="display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="20"-->
<!--                                            height="20" fill="none" viewBox="0 0 20 20">-->
<!--                                            <path fill="#00DD6D" fill-rule="evenodd"-->
<!--                                                d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10ZM9 9V5.5h2V9h3.5v2H11v3.5H9V11H5.5V9H9Z"-->
<!--                                                clip-rule="evenodd"></path>-->
<!--                                        </svg></span>-->
<!--                                </button>-->
<!--                                <p>새로운 이력서를 추가해보세요!</p>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                </section>
                <form action="/resume/post" method="post" enctype="multipart/form-data">
                <section class="resume-inner-section">
                    <h1>첨부파일</h1>
                    <em>경험을 보여줄 수 있는 포트폴리오 / 경력기술서 등을
                        첨부해보세요. (PDF를 권장합니다.)</em>
                    <ul class="file-container">
                        <li class="empty-file">첨부파일이 비어있습니다.</li>
                    </ul>
                    <p class="file-add-area">
                        <button>확인</button>
                        <button for="attach" id="addfilebutton" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                viewBox="0 0 20 20">
                                <path fill="#00DD6D" fill-rule="evenodd"
                                    d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10ZM9 9V5.5h2V9h3.5v2H11v3.5H9V11H5.5V9H9Z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            첨부파일 추가</button>
                        <input id="attach" name="file" hidden="" type="file"/>
                    </p>
                </section>
                </form>
            </div>
        </div>
    </main>
    <div id="modal"></div>

    <div id="criteo-tags-div" style="display: none"></div>
</body>
<script src="/js/resume/resume-main.js"></script>
<script src="/js/resume/resume-service.js"></script>
<script src="/js/resume/resume-event.js"></script>
<script src="/js/resume/resume-layout.js"></script>
<script src="/js/member/mypage-all.js"></script>
<script th:inline="javascript">
    const memberData = /*[[${session.member}]]*/ null;
</script>
</html>