<html lang="ko" style="">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>템프 | 계정 탈퇴</title>

    <link rel="icon" href="/images/member/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/member/mypage-accountwithdrawal1.css">
    <link rel="stylesheet" href="/css/member/mypage-accountwithdrawal2.css">
    <link rel="stylesheet" href="/css/member/mypage-accountwithdrawal3.css">
    <link rel="stylesheet" href="/css/member/header.css">
    <style>
        @font-face {
            font-family: Jumpit;
            src: url("/fonts/member/ff840cfebfb63b0c-s.p.woff2");
        }
        * {
            font-family: Jumpit;
        }
    </style>
</head>

<body class="__className_f53396" style="">
<header th:replace="~{main/header.html :: .header-sc}"></header>
    <main class="main-sc0">
        <div>
            <div class="main-wrapper0">
                <div class="main-content1">
                    <div>
                        <h2><a href="/mypage/account-main">마이템프</a>
                        </h2>
                        <div class="mypagemenu-wrapper">
                            <ul class="mypagemenu1">
                                <li class="mypagemenu2">
                                    <a target="_self" href="/member/account-applied">입사지원
                                        현황</a>
                                </li>

                                <li class="mypagemenu2">
                                    <a target="_self" href="/member/account-payment">결제
                                        관리</a>
                                </li>
                                <li class="mypagemenu2-1">
                                    <a target="_self" href="/mypage/account-info">계정
                                        정보 설정</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/member/account-withdrawal">계정
                                        탈퇴</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-content2">
                    <!-- <h1>입사지원 현황</h1> -->
                    <!-- <ul class="topbox0">
                        <li class="topbox-content1"><a
                                href="/applications-status/writing">
                                <dl>
                                    <dt>고민중</dt>
                                    <dd>1</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1-1"><a
                                href="/applications-status/applied">
                                <dl>
                                    <dt>지원완료</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1"><a
                                href="/applications-status/passed">
                                <dl>
                                    <dt>서류통과</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1"><a
                                href="/applications-status/hired">
                                <dl>
                                    <dt>최종합격</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1"><a
                                href="/applications-status/rejected">
                                <dl>
                                    <dt>불합격</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                    </ul> -->
                    <ul class="applied-list0">
                        <h1>
                            <div>계정 탈퇴</div>
                        </h1>
                        <div class="applied-list-blank">
                            <section class="cont_withdrawal" id="withdrawalAgree">
                                <h2 class="txt_title">
                                    개인회원 탈퇴 전, 안내 사항을 꼭 확인해주세요.
                                </h2>
                                <div class="wrap_history">
                                    <p class="desc_history">
                                        <strong class="txt_name">김승균</strong> 회원님께서
                                        <span class="txt_default">보유하고 계신<br> 내역입니다</span>
                                    </p>
                                    <ul class="list_history">
                                        <li>
                                            <a href="/zf_user/resume/resume-manage" class="link_history">
                                                <span class="tit_history">이력서</span>
                                                <strong class="num_history">0 <span class="blind">건</span>
                                                </strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/zf_user/persons/apply-status-list" class="link_history">
                                                <span class="tit_history">입사지원</span>
                                                <strong class="num_history">0 <span class="blind">건</span>
                                                </strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/zf_user/persons/scrap-recruit" class="link_history">
                                                <span class="tit_history">스크랩</span>
                                                <strong class="num_history">0 <span class="blind">건</span>
                                                </strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/zf_user/member/career-mileage" class="link_history">
                                                <span class="tit_history">커리어 마일리지</span>
                                                <strong class="num_history">0 <span class="blind">마일리지</span>
                                                </strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <p class="blind">개인회원 탈퇴 안내 사항</p>
                                <ul class="list_noti">
                                    <li>
                                        <strong class="tit_noti">탈퇴 아이디 복구 불가</strong>
                                        <p class="desc_noti">탈퇴 후에는 아이디와 데이터 복구가 불가능합니다. 신중하게 선택하시기 바랍니다.</p>
                                    </li>
                                    <li>
                                        <strong class="tit_noti">서비스 이용 기록 삭제 안내</strong>
                                        <p class="desc_noti">이력서, 입사지원 현황, 기업에게 받은 이직제안, 멘토와의 대화 등 취업에 필요한 서비스 이용 기록이 모두
                                            삭제되며, 삭제된 데이터는 복구되지 않습니다.<br>
                                            필요한 데이터는 미리 백업을 해두시기 바랍니다.</p>
                                    </li>
                                    <li>
                                        <strong class="tit_noti">커리어 마일리지 삭제 안내</strong>
                                        <p class="desc_noti">모바일 쿠폰으로 변경가능한 커리어 마일리지가 모두 삭제되며, 삭제된 마일리지는 복구되지
                                            않습니다.<br>탈퇴 전 사용을 해주시기 바랍니다.</p>
                                    </li>
                                    <li>
                                        <strong class="tit_noti">등록한 게시글 삭제 불가 안내</strong>
                                        <p class="desc_noti">삭제를 원하는 게시글은 반드시 회원탈퇴 전 삭제하시기 바랍니다.</p>
                                        <p class="desc_noti">탈퇴 후에는 게시글을 임의로 삭제해드릴 수 없습니다.</p>
                                        <p class="desc_noti">커리어챗에 등록한 메시지, 기업 리뷰, 멘토링 매치의 리뷰 등 등록한 게시글은 탈퇴 시 서비스에서 데이터
                                            보관 주기 동안 보관 후 삭제됩니다.</p>
                                    </li>
                                    <li>
                                        <strong class="tit_noti">점핏 서비스 동시 탈퇴 안내</strong>
                                        <p class="desc_noti">사람인 아이디로 로그인하여 사용 중이던 점핏 사이트도 함께 탈퇴됩니다.</p>
                                        <p class="desc_noti">탈퇴 후 점핏을 이용하실 수 없는 점 유의 부탁드립니다.</p>
                                    </li>
                                </ul>
                                <form>
                                    <fieldset style="border: 0;">
                                        <legend class="blind">회원 탈퇴 동의</legend>
                                        <div class="wrap_agree">
                                            <div class="InpBox">
                                                <span class="Chk">
                                                    <input type="checkbox" id="agreeChk" name="agreeChk"
                                                        autocomplete="off">
                                                    <label class="Lbl" for="agreeChk">안내 사항을 모두 확인하였으며, 이에
                                                        동의합니다.</label>
                                                </span>
                                            </div>
                                            <div class="wrap_buttons">
                                                <button type="button"
                                                    class="BtnType SizeL GrayInvert btn_out_cancel">취소</button>
                                                <button type="button" id="btn_out_agree"
                                                    class="BtnType SizeL">확인</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </section>
                            <section class="cont_withdrawal" id="withdrawalCertify" style="display:none">
                                <h2 class="txt_title">
                                    비밀번호 재확인을 해주세요.
                                    <span class="txt_subtitle">회원님의 소중한 정보를 위해, 계정의 현재 비밀번호를 확인해 주세요.</span>
                                </h2>
                                <form>
                                    <fieldset>
                                        <legend class="blind">비밀번호 재확인</legend>
                                        <div class="wrap_forms">
                                            <div class="box_common">
                                                <dl class="area_forms type_password">
                                                    <dt>아이디</dt>
                                                    <dd><span class="txt_id">peumyora</span></dd>
                                                </dl>
                                                <dl class="area_forms type_password">
                                                    <dt>
                                                        <label for="passwd">비밀번호 확인</label>
                                                    </dt>
                                                    <dd>
                                                        <div class="TypoBox">
                                                            <input type="password" id="passwd" name="passwd"
                                                                class="Typo SizeL" placeholder="비밀번호를 입력해 주세요"
                                                                autocomplete="off">
                                                        </div>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="wrap_buttons">
                                            <button type="button" id="btn_out_normal_certify"
                                                class="BtnType SizeL">확인</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </section>
                            <section class="cont_withdrawal" id="withdrawalReason" style="display:none">
                                <h2 class="txt_title">
                                    템프 계정을 삭제하려는 이유가 궁금해요.
                                    <span class="txt_subtitle">탈퇴하는 이유를 알려주시면 더 좋은 서비스를 제공하기 위해 노력하겠습니다.</span>
                                </h2>
                                <form method="post" id="person_out_form" autocomplete="off">
                                    <input type="hidden" id="seq" name="seq" value="seq1738643327">
                                    <fieldset>
                                        <legend class="blind">탈퇴 이유</legend>
                                        <div class="wrap_forms">
                                            <div class="box_common">
                                                <dl class="area_forms">
                                                    <dt>
                                                        <label for="out_reason_cd">계정 삭제 이유</label>
                                                    </dt>
                                                    <dd>
                                                        <div class="InpBox SizeL">
                                                            <select name="out_reason_cd" id="out_reason_cd"
                                                                title="탈퇴 사유">
                                                                <option value="" label="선택해 주세요">선택해 주세요</option>
                                                                <option value="4" label="개인정보 보호를 위해">개인정보 보호를 위해
                                                                </option>
                                                                <option value="1" label="취업에 성공했기 때문에">취업에 성공했기 때문에
                                                                </option>
                                                                <option value="2" label="아이디 변경을 위해">아이디 변경을 위해</option>
                                                                <option value="11" label="메일, 알림 서비스를 받지 않기 위해">메일, 알림
                                                                    서비스를 받지 않기 위해</option>
                                                                <option value="6" label="원하는 정보가 부족해서">원하는 정보가 부족해서
                                                                </option>
                                                                <option value="7" label="서비스가 만족스럽지 못해서">서비스가 만족스럽지 못해서
                                                                </option>
                                                                <option value="10" label="다른 서비스를 이용해서">다른 서비스를 이용해서
                                                                </option>
                                                                <option value="13" label="기타">기타</option>
                                                            </select>
                                                        </div>
                                                    </dd>
                                                </dl>
                                                <div>
                                                    <div class="area_conts" data-out_reason_cd="4">
                                                        <p>이력서를 비공개로 전환하면 더이상 기업의 연락이 오지 않습니다.<br><br>
                                                            이직시에도 이전 이력서 내용을 확인하여 더 빠르게 이력서를 업데이트 할 수 있도록 이력서 공개 여부를
                                                            확인하시겠어요?</p>
                                                        <a href="/zf_user/member/resume-manage/block-setting"
                                                            class="btn_page" target="_self">내 이력서 비공개로 전환하기</a>
                                                    </div>
                                                    <div class="area_conts" data-out_reason_cd="1">
                                                        <p>축하드립니다.<br><br>
                                                            이력서를 비공개로 전환하면 더이상 기업의 연락이 오지 않습니다.<br>
                                                            이직시에도 이전 이력서 내용을 확인하여 더 빠르게 이력서를 업데이트 할 수 있습니다.<br><br>
                                                            취업 후에도 커리어 성장을 할 수 있도록 사람인에서 다양한 콘텐츠를 제공하고 있습니다.<br>
                                                            커리어 관리를 할 수 있는 다양한 콘텐츠를 확인해보는 건 어떨까요?</p>
                                                        <a href="/zf_user/member/resume-manage/block-setting"
                                                            class="btn_page" target="_self">내 이력서 비공개로 전환하기</a>
                                                        <a href="/zf_user/careerplus" class="btn_page"
                                                            target="_self">커리어를 성장 시켜줄 콘텐츠 확인하기</a>
                                                    </div>
                                                    <div class="area_conts" data-out_reason_cd="11">
                                                        <p>계정을 삭제하면 소중한 회원님의 정보도 함께 삭제되오니<br>
                                                            계정 삭제가 아닌 메일, 알림 서비스를 잠시 중단해보는건 어떨까요?</p>
                                                        <a href="/zf_user/member/set-incoming-email" class="btn_page"
                                                            target="_self">수신 차단 설정하기</a>
                                                    </div>
                                                    <div class="area_conts" data-out_reason_cd="6">
                                                        <a href="/zf_user/search" class="btn_page" target="_self">통합검색
                                                            이용하기</a>
                                                    </div>
                                                    <div class="area_conts" data-out_reason_cd="7">
                                                        <a href="/zf_user/careerplus" class="btn_page"
                                                            target="_self">커리어를 성장 시켜줄 콘텐츠 확인하기</a>
                                                        <a href="https://mentor-match.saramin.co.kr" class="btn_page"
                                                            target="_self">딱 맞는 멘토 찾아보기</a>
                                                    </div>
                                                    <div class="area_conts" data-out_reason_cd="13">
                                                        <div class="InpBox">
                                                            <textarea class="ScrollBar" name="out_reason" placeholder="상세한 탈퇴 사유를 남겨주시면
보다 좋은 서비스를 제공할 수 있도록 노력하겠습니다." title="탈퇴사유" autocomplete="off"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap_buttons">
                                            <button type="button" class="BtnType SizeL GrayInvert btn_out_cancel">탈퇴
                                                취소</button>
                                            <button type="button" id="btn_out_confirm"
                                                class="BtnType SizeL">탈퇴하기</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </section>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div id="modal"></div>

</body>
<script src="/js/member/mypage-all.js"></script>
<script src="/js/member/mypage-accountwithdrawal.js"></script>
<script th:inline="javascript">
    const memberData = /*[[${session.member}]]*/ null;
</script>
</html>