<html lang="ko" style="">

<head>
    <meta charset="utf-8">
    <title>템프 | 결제 관리</title>
    <link rel="icon" href="/images/member/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/member/mypage-payment1.css">
    <link rel="stylesheet" href="/css/member/mypage-payment2.css">
    <link rel="stylesheet" href="/css/member/mypage-payment3.css">
    <link rel="stylesheet" href="/css/member/header.css">
    <style>
        @font-face {
            font-family: Jumpit;
            src: url("/fonts/member/ff840cfebfb63b0c-s.p.woff2");
        }

        * {
            font-family: Jumpit;
        }
    </style>

</head>

<body class="__className_f53396" style="">
<header th:replace="~{main/header.html :: .header-sc}"></header>
    <main class="main-sc0">
        <div>
            <div class="main-wrapper0">
                <div class="main-content1">
                    <div>
                        <h2><a href="/mypage/account-main">마이템프</a>
                        </h2>
                        <div class="mypagemenu-wrapper">
                            <ul class="mypagemenu1">
                                <li class="mypagemenu2">
                                    <a target="_self" href="/mypage/account-applied">입사지원
                                        현황</a>
                                </li>
                                <li class="mypagemenu2">
                                    <!--임시 태그-->
                                    <a target="_self" href="/resume/main">스크랩
                                        리스트</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/member/account-payment">결제
                                        관리</a>
                                </li>
                                <li class="mypagemenu2-1">
                                    <a target="_self" href="/mypage/account-info">계정
                                        정보 설정</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/member/account-withdrawal">계정
                                        탈퇴</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-content2">
                    <!-- <h1 style="font-family: Retro;">입사지원 현황</h1> -->
                    <!-- <ul class="topbox0">
                        <li class="topbox-content1"><a
                                href="/applications-status/writing">
                                <dl>
                                    <dt>고민중</dt>
                                    <dd>1</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1-1"><a
                                href="/applications-status/applied">
                                <dl>
                                    <dt>지원완료</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1"><a
                                href="/applications-status/passed">
                                <dl>
                                    <dt>서류통과</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1"><a
                                href="/applications-status/hired">
                                <dl>
                                    <dt>최종합격</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1"><a
                                href="/applications-status/rejected">
                                <dl>
                                    <dt>불합격</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                    </ul> -->
                    <ul class="applied-list0" id="payHistory" style="list-style-type: none; padding: 0;">
                        <h1>
                            <div>결제관리
                            </div>
                            <div><button onclick="pay()">충전</button>
                            </div>
                            <div>
                                <div class="applied-list0-filter">
                                    <button aria-expanded="false" aria-haspopup="true" class="btn-text"
                                        type="button"><span>결제여부
                                            필터링</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="none" viewBox="0 0 16 16" aria-hidden="true" class="arrow grey">
                                            <path fill="#222" fill-rule="evenodd"
                                                d="M13.472 5.195c.26.26.26.683 0 .943l-5 5a.667.667 0 0 1-.943 0l-5-5a.667.667 0 1 1 .943-.943L8 9.724l4.529-4.529c.26-.26.682-.26.943 0Z"
                                                clip-rule="evenodd">
                                            </path>
                                        </svg></button>
                                    <div class="filter-list hidden">
                                        <div class="filter-inner">
                                            <div class="close_button_wrap">
                                                <button><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24">
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path d="M0 0h24v24H0z">
                                                            </path>
                                                            <path stroke="#000" stroke-width="2"
                                                                d="M20 4 4 20M4 4l16 16">
                                                            </path>
                                                        </g>
                                                    </svg></button>
                                            </div>
                                            <h1>applied_filter</h1>
                                        </div>
                                        <div class="layer_contents">
                                            <div>
                                                <ul aria-label="포지션 정렬 기준" class="filter-ul">
                                                    <li><button class="filter-button peer" type="button">전체</button>
                                                    </li>
                                                    <li><button class="filter-button peer" type="button">결제완료</button>
                                                    </li>
                                                    <li><button class="filter-button peer" type="button">결제대기</button>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="presentation" class="filter-background hidden">
                                    </div>
                                </div>
                                <p class="applied-list0-filter-on">
                                    전체</p><select name="applied_filter" class="applied-filter-status">
                                    <option id="APPLIED" value="APPLIED">전체
                                    </option>
                                    <option id="READ" value="READ">결제완료
                                    </option>
                                    <option id="UNREAD" value="UNREAD">결제대기
                                    </option>
                                </select>
                            </div>
                        </h1>

<!--                        <div class="applied-list-blank">-->
<!--                            결제정보가 없습니다.</div>-->
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div id="modal"></div>

</body>

<script th:inline="javascript">
    const member = [[${session.member}]];
</script>
<script src="/js/member/mypage-payment-service.js"></script>
<script src="/js/member/mypage-payment-layout.js"></script>
<script src="/js/member/mypage-payment-event.js"></script>
<script src="/js/member/mypage-all.js"></script>
<script src="https://js.bootpay.co.kr/bootpay-5.0.2.min.js" type="application/javascript"></script>
<script th:inline="javascript">
    const memberData = /*[[${session.member}]]*/ null;
</script>
</html>