<html lang="ko" style="">

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://cdn.jumpit.co.kr">
    <link href="https://cdn.jumpit.co.kr" rel="dns-prefetch">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link href="https://www.googletagmanager.com" rel="dns-prefetch">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">


    <title>템프 | 템프 지원 현황</title>

    <link rel="icon" href="/images/member/favicon.ico"/>

    </style>
    <link rel="stylesheet" href="/css/member/mypage-applied1.css">
    <link rel="stylesheet" href="/css/member/mypage-applied2.css">
    <link rel="stylesheet" href="/css/member/mypage-applied3.css">

    <style>
        @font-face {
            font-family: Jumpit;
            src: url("/fonts/member/ff840cfebfb63b0c-s.p.woff2");
        }

        * {
            font-family: Jumpit;
        }
    </style>
</head>

<body class="__className_f53396" style="">

    <main class="main-sc0">
        <div>
            <div class="main-wrapper0">
                <div class="main-content1">
                    <div>
                        <h2><a href="/publishing/templates/member/mypage-main.html">마이템프</a>
                        </h2>
                        <div class="mypagemenu-wrapper">
                            <ul class="mypagemenu1">
                                <li class="mypagemenu2">
                                    <a target="_self" href="/publishing/templates/member/mypage-applied.html">템프 지원
                                        현황</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/publishing/templates/member/mypage-scraplist.html">스크랩
                                        리스트</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/publishing/templates/member/mypage-payment.html">결제
                                        관리</a>
                                </li>
                                <li class="mypagemenu2-1">
                                    <a target="_self" href="/publishing/templates/member/mypage-accountinfo.html">계정
                                        정보
                                        설정</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self"
                                        href="/publishing/templates/member/mypage-accountwithdrawl.html">계정
                                        탈퇴</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-content2">
                    <h1>입사지원 현황</h1>
                    <ul class="topbox0">
                        <li class="topbox-content1-1" id="apply">

                            <a class="apply-status support" href="지원완료">
                                <dl>
                                    <dt>지원완료</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1" id="hired">
                            <a class="apply-status pass" href="최종합격">
                                <dl>
                                    <dt>최종합격</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                        <li class="topbox-content1" id="rejected">
                            <a class="apply-status fail" href="불합격">
                                <dl>
                                    <dt>불합격</dt>
                                    <dd>0</dd>
                                </dl>
                            </a></li>
                    </ul>
                    <ul class="applied-list0 writing-list hidden">
                        <h1>
                            <div>고민중 총 1건</div>
                        </h1>
                        <li class="contentlist" th:each="application : ${applicationDTOList}">
                            <div class="applied_item">
                                <div class="applied_item_field"><a rel="noreferrer" target="_blank"
                                        href="/position/42110">
                                        <dl>
                                            <dt>
                                                <div th></div><span class="datespan">D-3</span>
                                            </dt>
                                            <dd class="applications_main_title">
                                                <span>AI Research
                                                    Scientist
                                                    (Computer Vision
                                                    and
                                                    Bioinformatics)_병역특례/전문연구요원
                                                    우대 (2~4년)</span>
                                            </dd>
                                        </dl>
                                    </a></div>
                                <div class="content-apply-div">
                                    <button class="apply-button-css apply_button" type="button">지원하기</button>
                                    <div class="apply-delete-div">
                                        <button class="apply-delete-button">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="applied-list0 applied-list" id="appliedList-wrap">
                        <h1>
                            <div>지원완료 총 0건</div>
                            <div>
                                <div class="applied-list0-filter">
                                    <button aria-expanded="false" aria-haspopup="true" class="btn-text" type="button">
                                        <span>열람여부
                                            필터링</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="none" viewBox="0 0 16 16" aria-hidden="true" class="arrow grey">
                                            <path fill="#222" fill-rule="evenodd"
                                                d="M13.472 5.195c.26.26.26.683 0 .943l-5 5a.667.667 0 0 1-.943 0l-5-5a.667.667 0 1 1 .943-.943L8 9.724l4.529-4.529c.26-.26.682-.26.943 0Z"
                                                clip-rule="evenodd">
                                            </path>
                                        </svg></button>
                                    <div class="filter-list hidden">
                                        <div class="filter-inner">
                                            <div class="close_button_wrap">
                                                <button><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24">
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path d="M0 0h24v24H0z">
                                                            </path>
                                                            <path stroke="#000" stroke-width="2"
                                                                d="M20 4 4 20M4 4l16 16">
                                                            </path>
                                                        </g>
                                                    </svg></button>
                                            </div>
                                            <h1>applied_filter</h1>
                                        </div>
                                        <div class="layer_contents">
                                            <div>
                                                <ul aria-label="포지션 정렬 기준" class="filter-ul">
                                                    <li><button class="filter-button peer" type="button">전체</button>
                                                    </li>
                                                    <li><button class="filter-button peer" type="button">열람</button>
                                                    </li>
                                                    <li><button class="filter-button peer" type="button">미열람</button>
                                                    </li>
                                                    <li><button class="filter-button peer" type="button">지원취소</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="presentation" class="filter-background hidden">
                                    </div>
                                </div>
                                <p class="applied-list0-filter-on">전체
                                </p>
                                <select name="applied_filter" class="applied-filter-status">
                                    <option id="APPLIED" value="APPLIED">전체
                                    </option>
                                    <option id="READ" value="READ">열람
                                    </option>
                                    <option id="UNREAD" value="UNREAD">미열람
                                    </option>
                                    <option id="CANCELED" value="CANCELED">
                                        지원취소</option>
                                </select>
                            </div>
                        </h1>
                        <div class="applied-list-blank">
                            지원정보가 없습니다</div>
                    </ul>

                    <ul class="applied-list0 passed-list hidden">
                        <h1>
                            <div>서류통과 총 0건</div>

                        </h1>
                        <div class="applied-list-blank">
                            지원정보가 없습니다</div>
                    </ul>
                    <ul class="applied-list0 hired-list hidden">
                        <h1>
                            <div>최종합격 총 0건</div>

                        </h1>
                        <div class="applied-list-blank">
                            지원정보가 없습니다</div>
                    </ul>
                    <ul class="applied-list0 rejected-list hidden">
                        <h1>
                            <div>불합격 총 0건</div>

                        </h1>
                        <div class="applied-list-blank">
                            지원정보가 없습니다</div>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div id="modal"></div>

</body>
<script src="/js/member/mypage-all.js"></script>
<script src="/js/member/mypage-applied.js"></script>
<script src="/js/member/mypage-applied-service.js"></script>
<script src="/js/member/mypage-applied-layout.js"></script>
<script src="/js/member/mypage-applied-event.js"></script>
</html>