<html lang="ko" style="">

<head>
    <meta charset="utf-8">

    <!-- <link rel="preload" as="image" href="//cdn.jumpit.co.kr/jumpit/personal/v-footer-sns-instagram.svg">
    <link rel="preload" as="image" href="//cdn.jumpit.co.kr/jumpit/personal/v-footer-sns-kakao.svg">
    <link rel="preload" as="image" href="//cdn.jumpit.co.kr/jumpit/personal/v-footer-sns-youtube.svg">
    <link rel="preload" as="image" href="//cdn.jumpit.co.kr/jumpit/personal/v-footer-sns-facebook.svg">
    <link rel="preload" as="image" href="//cdn.jumpit.co.kr/jumpit/personal/v-footer-sns-google.svg">
    <link rel="preload" as="image" href="//cdn.jumpit.co.kr/jumpit/personal/v-footer-sns-apple.svg"> -->
    <title>템프 | 계정 정보 설정</title>
    <link rel="icon" href="/publishing/static/images/member/favicon.ico" />
    <meta name="next-size-adjust">
    <style data-styled="active" data-styled-version="6.0.7">
    </style>
    <link rel="stylesheet" type="text/css" href="/static/css/member/mypage-accountinfo1.css">
    <link rel="stylesheet" href="/static/css/member/mypage-accountinfo2.css">
    <link rel="stylesheet" href="/static/css/member/mypage-accountinfo3.css">
    <script async="" src="//static.airbridge.io/sdk/latest/airbridge.min.js"></script>
    <style>
        @font-face {
            font-family: Jumpit;
            src: url("/static/fonts/member/ff840cfebfb63b0c-s.p.woff2");
        }

        * {
            font-family: Jumpit;
        }
    </style>
</head>

<body class="__className_f53396" style="">
    <header class="header-sc">
        <div class="div-sc1">
            <div class="div-sc2">
                <div class="logo-wrap"><a aria-label="점핏" class="logo-top" href="/"><svg
                            xmlns="http://www.w3.org/2000/svg" width="62" height="28" fill="none" viewBox="0 0 62 28"
                            aria-hidden="true">
                            <mask id="a" width="62" height="28" x="0" y="0" maskUnits="userSpaceOnUse"
                                style="mask-type: luminance;">
                                <path fill="#fff" d="M62 0H0v28h62V0Z">
                                </path>
                            </mask>
                            <g mask="url(#a)">
                                <path fill="#000"
                                    d="m1.58 12.65 2.957 3.274c2.17-1.123 4.173-2.776 5.905-4.769 1.222 1.746 2.894 3.274 4.635 4.334l3.83-3.804c-2.218-1.31-4.2-3.148-5.36-5.331.28-.593.537-.918.764-1.54h4.721l.954-4.361H5.377l-.924 4.36h4.585c-1.42 3.462-3.693 5.863-7.458 7.838Z">
                                </path>
                                <path fill="#000" fill-rule="evenodd"
                                    d="M5.257.304H20.17l-1.019 4.659h-4.738a5.697 5.697 0 0 1-.334.703l-.086.157c-.091.164-.184.33-.28.527 1.15 2.124 3.091 3.92 5.269 5.207l.166.098-4.05 4.022-.1-.06a16.047 16.047 0 0 1-4.57-4.222c-1.713 1.941-3.686 3.556-5.824 4.662l-.102.052-3.162-3.501.17-.09c3.662-1.92 5.894-4.24 7.303-7.555H4.27l.987-4.66Zm.241.298-.86 4.063H9.26l-.084.205c-1.413 3.445-3.666 5.85-7.357 7.823l2.751 3.046c2.112-1.112 4.065-2.732 5.76-4.681l.124-.144.11.156c1.186 1.695 2.803 3.184 4.491 4.231l3.611-3.586c-2.168-1.314-4.103-3.133-5.25-5.292l-.035-.065.032-.068c.112-.236.22-.432.322-.616l.084-.15c.125-.23.242-.46.352-.761l.035-.098h4.706l.89-4.063H5.497Z"
                                    clip-rule="evenodd">
                                </path>
                                <path fill="#000"
                                    d="M18.1 9.788h3.385l-1.866 7.75h5.354L28.887.448h-5.354L22.287 6.15h-3.383L18.1 9.788Z">
                                </path>
                                <path fill="#000" fill-rule="evenodd"
                                    d="M23.413.298h5.66l-3.981 17.39H19.43l1.866-7.751h-3.382l.87-3.935h3.383L23.413.298Zm.24.298L22.407 6.3h-3.383l-.74 3.34h3.39l-1.865 7.75h5.045L28.7.596h-5.047Z"
                                    clip-rule="evenodd">
                                </path>
                                <path fill="#000"
                                    d="M.483 27.214h22.564l1.926-9.675H2.584L.483 27.214Zm6.462-6.357 12.21-.012-.382 1.808H6.555l.393-1.796h-.003Z">
                                </path>
                                <path fill="#000" fill-rule="evenodd"
                                    d="M2.464 17.39h22.69l-1.984 9.973H.298l2.166-9.973Zm.24.298L.669 27.065h22.257l1.866-9.377H2.705Zm16.634 3.008-.444 2.106H6.37l.433-1.977.142.031v-.148l12.393-.012Zm-.367.298-11.903.012-.328 1.498h11.912l.319-1.51Z"
                                    clip-rule="evenodd">
                                </path>
                                <path fill="#000"
                                    d="M47.263 12.132h-2.22l1.281-5.868h-4.74l-1.28 5.868h-2.55l1.282-5.868h-4.62l-1.279 5.868H30.9l-.865 4.144H46.4l.864-4.144Z">
                                </path>
                                <path fill="#000" fill-rule="evenodd"
                                    d="M34.296 6.115h4.925l-1.281 5.868h2.243l1.282-5.868h5.044l-1.281 5.868h2.218l-.926 4.442H29.851l.927-4.442h2.24l1.278-5.868Zm.24.298-1.279 5.868H31.02l-.802 3.846h16.06l.802-3.846h-2.222l1.281-5.868h-4.434l-1.282 5.868H37.57l1.282-5.868h-4.315Z"
                                    clip-rule="evenodd">
                                </path>
                                <path fill="#000" d="M49.725.45H33.617l-.96 4.364H48.76L49.725.45Z">
                                </path>
                                <path fill="#000" fill-rule="evenodd"
                                    d="M33.497.3h16.414l-1.032 4.663H32.472L33.497.3Zm.24.299-.894 4.066H48.64l.9-4.066H33.737Z"
                                    clip-rule="evenodd">
                                </path>
                                <path fill="#000"
                                    d="m45.296 19.079-4.68-1.466c-2.239 3.804-7.139 5.279-12.227 5.746l1.768 4.18c3.484-.406 7.377-1.996 10.498-4.365 2.453 2.121 6.411 3.897 10.045 4.272l2.969-4.301c-3.664-.376-7.05-.727-9.324-2.66.343-.438.659-.906.95-1.403v-.003Z">
                                </path>
                                <path fill="#000" fill-rule="evenodd"
                                    d="m40.548 17.436 4.897 1.533v.153l-.02.035c-.27.46-.56.895-.874 1.305 1.094.891 2.444 1.43 3.97 1.792 1.577.374 3.33.555 5.163.743l.25.025-3.161 4.581-.088-.009c-3.62-.374-7.554-2.123-10.036-4.228-3.124 2.343-6.998 3.916-10.475 4.32l-.111.013-1.89-4.47.202-.018c5.084-.467 9.914-1.938 12.113-5.673l.06-.102Zm.136.355c-2.275 3.745-7.101 5.213-12.079 5.697l1.645 3.89c3.428-.423 7.247-1.994 10.315-4.322l.096-.073.091.079c2.41 2.084 6.296 3.835 9.876 4.226l2.775-4.02c-1.74-.18-3.424-.362-4.951-.724-1.602-.38-3.042-.958-4.203-1.946l-.11-.092.089-.113c.301-.386.583-.795.845-1.228l-4.39-1.374Z"
                                    clip-rule="evenodd">
                                </path>
                                <path fill="#000" d="m53.183.453-3.475 15.823 5.359-.015L58.537.453h-5.354Z">
                                </path>
                                <path fill="#000" fill-rule="evenodd"
                                    d="M53.063.304h5.659L55.187 16.41l-5.665.015L53.063.304Zm.24.298-3.41 15.524 5.054-.014L58.351.602h-5.048Z"
                                    clip-rule="evenodd">
                                </path>
                                <path fill="#5CF636"
                                    d="M62 24.92a2.682 2.682 0 1 1-5.364-.002A2.682 2.682 0 0 1 62 24.92Z">
                                </path>
                            </g>
                        </svg></a></div>
                <div class="searchbox-top">
                    <div class="searchbox-inner">
                        <div class="search-box"><input autocomplete="off" maxlength="50" placeholder="검색어를 입력해주세요"
                                type="text" value=""><button aria-label="검색" class="search-button" type="button"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" aria-hidden="true">
                                    <g fill="none" fill-rule="evenodd" stroke="#222" stroke-width="2">
                                        <circle cx="11.111" cy="11.111" r="7.111" stroke-linecap="round"
                                            stroke-linejoin="round">
                                        </circle>
                                        <path d="m20 20-3.867-3.867">
                                        </path>
                                    </g>
                                </svg></button></div><button class="close-button">닫기</button>
                    </div>
                    <div class="searchbox-hidden">
                        <div class="recentsearch">
                            <h4>최근 검색어</h4>
                        </div>
                        <div class="searchbox-hidden-content">최근 검색어가
                            없습니다.<br></div>
                    </div>
                    <div class="searchbox-onclick"></div>
                </div>
            </div>
            <nav aria-label="Main navigation" class="nav-sc3">
                <ul class="header4">
                    <li><a class="header-element5" href="/positions?sort=rsp_rate">개발자
                            채용</a></li>
                    <li><a class="header-element5" href="/resumes">이력서</a></li>

                </ul>
                <ul class="header-right6">
                    <li>
                        <div class="header-right-user7">
                            <button type="button">김승균님</button><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="none" viewBox="0 0 16 16">
                                <path fill="#222" fill-rule="evenodd"
                                    d="M13.472 5.195c.26.26.26.683 0 .943l-5 5a.667.667 0 0 1-.943 0l-5-5a.667.667 0 1 1 .943-.943L8 9.724l4.529-4.529c.26-.26.682-.26.943 0Z"
                                    clip-rule="evenodd">
                                </path>
                            </svg>
                        </div>
                        <div class="header-right-menu8">
                            <ul>
                                <li><a href="/myjumpit">마이템프</a>
                                </li>
                                <li><button type="button">로그아웃</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        </div>
    </header>
    <main class="main-sc0">
        <div>
            <div class="main-wrapper0">
                <div class="main-content1">
                    <div>
                        <h2><a href="/publishing/templates/member/mypage-main.html">마이템프</a>
                        </h2>
                        <div class="mypagemenu-wrapper">
                            <ul class="mypagemenu1">
                                <li class="mypagemenu2">
                                    <a target="_self" href="/publishing/templates/member/mypage-applied.html">입사지원
                                        현황</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/publishing/templates/member/mypage-scraplist.html">스크랩
                                        리스트</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/publishing/templates/member/mypage-payment.html">결제
                                        관리</a>
                                </li>
                                <li class="mypagemenu2-1">
                                    <a target="_self" href="/publishing/templates/member/mypage-accountinfo.html">계정
                                        정보 설정</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self"
                                        href="/publishing/templates/member/mypage-accountwithdrawl.html">계정
                                        탈퇴</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-content2">
                    <ul class="applied-list0">
                        <h1>
                            <div>
                                계정 정보 수정</div>
                        </h1>
                        <div class="applied-list-blank">
                            <form name="frm" id="editPersonForm" method="post" data-gtm-form-interact-id="1">
                                <input type="hidden" name="mem_idx" value="21381658">
                                <input type="hidden" name="channel" value="" id="channel"><input type="hidden"
                                    name="sms_confirm_complete" value="" id="sms_confirm_complete"><input type="hidden"
                                    name="mail_confirm_complete" value="" id="mail_confirm_complete"><input
                                    type="hidden" name="seq" value="seq1738566190" id="seq"><input type="hidden"
                                    name="ci_confirm" value="y" id="ci_confirm"><input type="hidden" name="open_email"
                                    value="y" id="open_email"><input type="hidden" name="open_tel" value="y"
                                    id="open_tel"><input type="hidden" name="open_cell" value="y" id="open_cell"><input
                                    type="hidden" name="sms_corp_charge" value="n" id="sms_corp_charge"><input
                                    type="hidden" name="fit_masking_fl" value="n" id="fit_masking_fl"><input
                                    type="hidden" name="charge_type" value="" id="charge_type"><input type="hidden"
                                    name="old_address" value="" id="old_address"><input type="hidden" name="old_zipcode"
                                    value="" id="old_zipcode"><input type="hidden" name="old_address_details" value=""
                                    id="old_address_details"><input type="hidden" name="new_address" value=""
                                    id="new_address"><input type="hidden" name="new_zipcode" value=""
                                    id="new_zipcode"><input type="hidden" name="new_address_details" value=""
                                    id="new_address_details"><input type="hidden" name="new_address_extra" value=""
                                    id="new_address_extra"><input type="hidden" name="address_sido" value=""
                                    id="address_sido"><input type="hidden" name="address_sigungu" value=""
                                    id="address_sigungu"><input type="hidden" name="x_coordinate" value=""
                                    id="x_coordinate"><input type="hidden" name="y_coordinate" value=""
                                    id="y_coordinate"><input type="hidden" name="zip_use_type" value="J"
                                    id="zip_use_type"><input type="hidden" name="zipcode" value="" id="zipcode"><input
                                    type="hidden" name="regResumeCnt" value="0" id="regResumeCnt"><input type="hidden"
                                    name="smsConfirm" value="1" id="smsConfirm"><input type="hidden" name="updateType"
                                    value="" id="updateType">
                                <input type="hidden" name="overseas" value="n">

                                <div class="person-update-sidearea">
                                    <div class="photo-wrap">
                                        <label for="attach"><span class="photo"
                                                id="myhome-profile-photo"></span></label>
                                        <span class="photo-border"></span>
                                        <button type="button" class="btn-photo" aria-label="프로필 편집/삭제"
                                            aria-haspopup="menu"></button>
                                        <div class="photo-edit-btn" style="">
                                            <button type="button" id="btnPhotoEdit">프로필 편집</button>
                                            <button type="button" id="btnPhotoDelete">프로필 삭제</button>
                                        </div>
                                    </div>
                                    <input type="file" id="attach" style="display: none" />
                                </div>
                                <div class="update-main person-update-main">
                                    <div class="field-wrap">
                                        <h2 class="field-legend">기본정보</h2>
                                        <table class="field-table">
                                            <tbody>
                                                <tr class="field">
                                                    <th scope="row">이름</th>
                                                    <td class="check">
                                                        <div class="field-body">
                                                            <span class="empty" id="view-name-empty"
                                                                style="display:none">이름을 입력해주세요.</span>
                                                            <b id="view-name">김승균</b>
                                                            (peumyora)
                                                        </div>
                                                        <div class="field-body inactive">
                                                            <div class="TypoBox">
                                                                <input type="text" name="change-name" id="change-name"
                                                                    class="Typo" placeholder="이름을 입력해주세요"
                                                                    style="width: 186px;" value="김승균"
                                                                    data-gtm-form-interact-field-id="2">
                                                                <input type="hidden" id="org-change-name" value="김승균">
                                                            </div>
                                                        </div>
                                                        <div class="field-btn">
                                                            <button type="button"
                                                                class="BtnType SizeS btn_modify">수정</button>
                                                            <button type="button" id="btnName"
                                                                class="BtnType SizeS btn-confirm"
                                                                disabled="">확인</button>
                                                            <button type="button"
                                                                class="BtnType SizeS btn-modify-cancel"
                                                                disabled="">취소</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="field">
                                                    <th scope="row">생년월일</th>
                                                    <td>
                                                        <div class="field-body">
                                                            <b id="view-birthDay" style="display:">
                                                                1998년 2월 24일</b>
                                                            <span class="empty" id="view-birthDay-empty"
                                                                style="display:none">
                                                                생년월일을 입력해주세요.</span>
                                                        </div>
                                                        <div class="field-body inactive">
                                                            <div class="input-group">
                                                                <div class="TypoBox">
                                                                    <label class="blind" for="select-year">연도</label>
                                                                    <input type="text" name="select-year"
                                                                        id="select-year" maxlength="4" class="Typo"
                                                                        placeholder="YYYY" style="width: 64px"
                                                                        value="1998">
                                                                </div>
                                                                <div class="TypoBox">
                                                                    <label class="blind" for="select-month">월</label>
                                                                    <input type="text" name="select-month"
                                                                        id="select-month" maxlength="2" class="Typo"
                                                                        placeholder="MM" style="width: 52px" value="2">
                                                                </div>
                                                                <div class="TypoBox">
                                                                    <label class="blind" for="select-day">일</label>
                                                                    <input type="text" name="select-day" id="select-day"
                                                                        maxlength="2" class="Typo" placeholder="DD"
                                                                        style="width: 52px" value="24">
                                                                </div>
                                                                <input type="hidden" id="org-select-year" value="1998">
                                                                <input type="hidden" id="org-select-month" value="2">
                                                                <input type="hidden" id="org-select-day" value="24">
                                                            </div>
                                                        </div>
                                                        <div class="field-btn">
                                                            <button type="button" class="BtnType SizeS btn-modify"
                                                                data-type="birthday">수정</button>
                                                            <button type="button" id="btnBirthDay"
                                                                class="BtnType SizeS btn-confirm"
                                                                disabled="">확인</button>
                                                            <button type="button"
                                                                class="BtnType SizeS btn-modify-cancel"
                                                                disabled="">취소</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="field-wrap">
                                        <h2 class="field-legend">연락처 정보</h2>
                                        <table class="field-table">
                                            <tbody>
                                                <tr class="field">
                                                    <th scope="row">휴대폰</th>
                                                    <td>
                                                        <div class="field-body" id="privacy">
                                                            <span id="view-cell-empty" class="empty"
                                                                style="display:none">휴대폰 번호를 입력해주세요.</span>
                                                            <span id="view-cell-overseas"
                                                                class="person-view-overseascell" style="display:none">해외
                                                                거주자입니다</span>
                                                            <b id="view-cell" style="display:">010****9777</b>
                                                            <span id="smsCert" class="badge badge-verified">인증</span>
                                                        </div>
                                                        <div class="field-btn">
                                                            <button type="button" id="btnSms"
                                                                class="BtnType SizeS btn-modify btn-identify-verify">수정</button>
                                                            <button type="button" id="btnCell"
                                                                class="BtnType SizeS btn-confirm"
                                                                disabled="">확인</button>
                                                            <button type="button" id="btnCellCancel"
                                                                class="-btnCertCancel BtnType SizeS btn-modify-cancel"
                                                                disabled="">취소</button>
                                                        </div>
                                                        <div class="field-body inactive" id="cell-edit">
                                                            <span class="TypoBox type-button" id="privacy-masking">
                                                                <input type="text" name="masking-cell" id="masking-cell"
                                                                    class="Typo" value="" maxlength="30"
                                                                    placeholder="현재 휴대폰번호를 입력해주세요"
                                                                    data-fill-active="btnCertCell"
                                                                    data-fill-active-prevent="oversea">
                                                                <button type="button" id="btnMaskingCell"
                                                                    class="BtnType SizeS colorBlue btn-verify">
                                                                    확인
                                                                </button>
                                                            </span>
                                                            <span class="TypoBox type-button privacy-edit"
                                                                id="privacy-edit">
                                                                <input type="text" name="cell" id="cell" class="Typo"
                                                                    value="" maxlength="30"
                                                                    placeholder="변경할 휴대폰번호를 입력해주세요"
                                                                    data-fill-active="btnCertCell"
                                                                    data-fill-active-prevent="oversea">
                                                                <button type="button" id="btnCertCell"
                                                                    class="BtnType SizeS colorBlue btn-verify">
                                                                    인증요청
                                                                </button>
                                                            </span>
                                                            <div class="field-sub checkboxgroup inactive"
                                                                id="living-overseas">
                                                                <div class="InpBox">
                                                                    <span class="Chk">
                                                                        <input type="checkbox" name="living-overseas-fl"
                                                                            id="oversea" value="0">
                                                                        <label class="Lbl" for="oversea">해외거주</label>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="field-sub field-verify inactive"
                                                                id="person-field-verify">
                                                                <span class="type-button TypoBox">
                                                                    <input type="text" name="smsCertNum" id="smsCertNum"
                                                                        class="Typo" placeholder="인증번호를 입력해주세요">
                                                                    <button type="button" id="btnCertConfirmSms"
                                                                        disabled=""
                                                                        class="BtnType SizeS colorBlue btn-confirm">확인</button>
                                                                </span>
                                                                <span class="remain-time">남은시간 <span
                                                                        id="remain-time-sms">2:00</span></span>
                                                            </div>
                                                        </div>
                                                        <div class="field-body ipin-guide privacy-guide inactive"
                                                            id="privacy-guide">
                                                            <svg class="icon-exclam">
                                                                <use xlink:href="#svg_my_29"><svg id="svg_my_29"
                                                                        viewBox="0 0 24 24">
                                                                        <path fill="currentColor"
                                                                            d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0zm0 1.5c-4.694 0-8.5 3.806-8.5 8.5s3.806 8.5 8.5 8.5 8.5-3.806 8.5-8.5-3.806-8.5-8.5-8.5zM10 9c.513 0 .936.386.993.883L11 10v4.5c0 .552-.448 1-1 1-.513 0-.936-.386-.993-.883L9 14.5V10c0-.552.448-1 1-1zm0-4c.69 0 1.25.56 1.25 1.25S10.69 7.5 10 7.5s-1.25-.56-1.25-1.25S9.31 5 10 5z"
                                                                            transform="translate(-1133 -2449) translate(448 2449) translate(685) translate(2 2)">
                                                                        </path>
                                                                    </svg>
                                                                </use>
                                                            </svg>
                                                            현재 휴대폰번호가 기억나지 않는다면 <a href="javascript:void(0)"
                                                                class="ipin-link" id="pass-cert">본인명의 인증</a> 후 수정할 수
                                                            있습니다.
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr class="field">
                                                    <th scope="row">이메일</th>
                                                    <td>
                                                        <div class="field-body" id="person-email-form">
                                                            <b id="view-mail" class="view-mail">kim*****@gmail.com</b>
                                                            <span id="mailCert" class="badge">미인증</span>
                                                        </div>
                                                        <div class="field-btn">
                                                            <button type="button" id="btnEmail"
                                                                class="BtnType SizeS btn-modify">수정</button>
                                                            <button type="button"
                                                                class="BtnType SizeS btn-confirm btn-confirm inactive"
                                                                disabled="">확인</button>
                                                            <button type="button" id="btnEmailCancel"
                                                                class="-btnCertCancel BtnType SizeS btn-modify-cancel -btn-modify-cancel"
                                                                disabled="disabled">취소</button>
                                                        </div>
                                                        <div class="field-body field-edit inactive" id="edit-email">
                                                            <span class="TypoBox type-button" id="person-masking-email">
                                                                <input type="text" name="masking-email"
                                                                    id="masking-email" class="Typo" value=""
                                                                    maxlength="30" placeholder="현재 이메일을 입력해주세요"
                                                                    data-fill-active="btnCertCell"
                                                                    data-fill-active-prevent="oversea">
                                                                <button type="button"
                                                                    class="BtnType SizeS colorBlue btn-verify"
                                                                    id="btnMaskingEmail">확인</button>
                                                            </span>
                                                            <span class="TypoBox type-button" id="person-email">
                                                                <input type="text" name="email" id="email" class="Typo"
                                                                    placeholder="변경할 이메일을 입력해주세요"
                                                                    data-fill-active="btnCertEmail">
                                                                <button type="button" id="btnCertEmail"
                                                                    class="BtnType SizeS colorBlue btn-verify">인증요청</button>
                                                            </span>
                                                            <div class="field-sub field-verify inactive"
                                                                id="mail-cert-num">
                                                                <span class="TypoBox type-button">
                                                                    <input type="text" name="mailCertNum"
                                                                        id="mailCertNum" class="Typo"
                                                                        placeholder="인증번호를 입력해주세요">
                                                                    <button type="button" id="btnCertConfirmMail"
                                                                        disabled=""
                                                                        class="BtnType SizeS colorBlue btn-confirm">확인</button>
                                                                </span>
                                                                <span class="remain-time" style="color: red;">남은시간 <span
                                                                        id="remain-time-mail"
                                                                        style="color: red;"></span></span>
                                                            </div>
                                                        </div>
                                                        <div class="ipin-guide privacy-guide inactive"
                                                            id="privacy-guide-email">
                                                            <!-- <svg class="icon-exclam"><use xlink:href="#svg_my_29"><svg id="svg_my_29" viewBox="0 0 24 24">
                                                                <path fill="currentColor" d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0zm0 1.5c-4.694 0-8.5 3.806-8.5 8.5s3.806 8.5 8.5 8.5 8.5-3.806 8.5-8.5-3.806-8.5-8.5-8.5zM10 9c.513 0 .936.386.993.883L11 10v4.5c0 .552-.448 1-1 1-.513 0-.936-.386-.993-.883L9 14.5V10c0-.552.448-1 1-1zm0-4c.69 0 1.25.56 1.25 1.25S10.69 7.5 10 7.5s-1.25-.56-1.25-1.25S9.31 5 10 5z" transform="translate(-1133 -2449) translate(448 2449) translate(685) translate(2 2)"></path>
                                                            </svg>
                                                        </use></svg> -->
                                                            현재 이메일이 기억나지 않는다면 <a href="javascript:void(0)"
                                                                class="ipin-link" id="pass-cert-email">본인명의 인증</a> 후 수정할
                                                            수 있습니다.
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="wrap-btn-withdraw">
                                        <a href="/zf_user/persons/person-out" class="btn-withdraw">회원 탈퇴</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div id="modal"></div>
</body>
<script src="/static/js/member/mypage-all.js"></script>
<script src="/static/js/member/mypage-accountinfo1.js"></script>


</html>