@font-face {
    font-family: 'Pretendard';
    src: url(../../fonts/main/PretendardVariable.woff2) format('woff');
    font-weight: 100 900;
    font-style: normal;
}

* {
    scrollbar-color: auto;
    scrollbar-width: auto;
}

html {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    text-size-adjust: none;
    font-synthesis: none !important;
}

body {
    display: block;
    margin: 8px;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
    font-family: 'Pretendard';
}

html, body, header, nav, aside, main, article, section, footer, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, p, pre, em, address, blockquote, q, form, fieldset, input, textarea, select, button, iframe {
    margin: 0px;
    padding: 0px;
}

input{
    appearance: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

button {
    border: none;
    border-radius: 0px;
    background: none;
    cursor: pointer;
}

input, textarea, select, button {
    border-radius: 0px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

header, nav, aside, main, article, section, footer {
    display: block;
}

html, body, header, nav, aside, main, article, section, footer, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, p, pre, em, address, blockquote, q, form, fieldset, input, textarea, select, button, iframe {
    margin: 0px;
    padding: 0px;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
}

ul, ol {
    list-style: none;
}

li {
    list-style: none;
}

main{
    background-color: rgb(255, 255, 255);
    padding-top: 120px;
}

img, fieldset, iframe {
    border: none;
}

.headerWrapper{
    position: relative;
    max-width: 1060px;
    margin: 0px auto;
}

.headerUpper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    transition: 0.2s;
}

.mainNavigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    z-index: 13;
}

.logoWrap{
    padding-top: 5px;
}

.mainSearch{
    position: relative;
}

.pageLogo{
    display: inline-flex;
}

.mainSearch{
    position: relative;
}

.searchWrapper{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 1060px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.searchBox{
    width: 480px;
    height: 40px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 100px;
    border: 1.5px solid rgb(0, 221, 109);
}

.closeButton{
    display: none;
}

.searchBox > input {
    width: 100%;
    padding: 0px 40px 0px 44px;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0px;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
}

.searchBox > input:focus {
    outline: none;
}

.searchButton{
    position: absolute;
    left: 16px;
    top: 8px;
}

.searchButton > svg > g > circle {
    stroke: rgb(0, 221, 109);
}

.searchButton > svg > g > path {
    stroke: rgb(0, 221, 109);
}

.searchWindow{
    position: absolute;
    top: 51px;
    left: 0;
    width: 472px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    box-shadow: rgba(20, 20, 20, 0.12) 0px 8px 16px;
    border-radius: 8px;
    z-index: 6;
    padding: 24px;
    visibility: hidden;
}

.searchWindowTitle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 12px;
}

.searchWindowTitle > h4{
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.searchWindowContents{
    padding: 28px 0px 36px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}

.leftNavigation{
    display: flex;
    margin-left: -20px;
}

.rightNavigation{
    display: flex;
    margin-right: -12px;
    font-size: 14px;
    line-height: 20px;
}

.leftNavigation > li{
    position: relative;
    padding: 0px 20px;
}

.leftNavigation > li:first-child>a{
    font-weight: 700;
}

.leftNavigation:hover a {
    opacity: 0.5;
}

.leftNavigation a:hover {
    opacity: 1;
}

.navigationMenu{
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 10px 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.rightNavigation > li {
    position: relative;
    padding: 0px 12px;
}

.mainUpper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 1060px;
    margin: 32px auto;
}

.mainArticle{
    margin: 40px auto 100px;
    max-width: 1080px;
}

.sideBanner{
    position: absolute;
    top: 150px;
    left: 50%;
    width: 100px;
    height: 148px;
    margin-left: 549px;
}

.mainUpperPart{
    display: flex;
    gap: 20px;
}

.mainBannerWrapper{
    width: 700px;
    position: relative;
}

.mainAside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 340px;
}

.mainBannerContainer{
    position: relative;
    display: block;
    box-sizing: border-box;
}

.bannerList{
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

.bannerTrack{
    width: 7700px;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bannerTrack::before{
    display: table;
    content: "";
}

.bannerTrack {
    clear: both;
    display: table;
    content: "";
}

.bannerSlide{
    position: relative;
    outline: none;
    width: 700px;
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
}

.bannerLink{
    position: relative;
    display: inline-block;
    width: 100%;
}

.bannerLink > img {
    display: block;
    border-radius: 4px;
}

.bannerText{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 32px;
    line-height: 42px;
    bottom: 110px;
    left: 50px;
    width: 600px;
    
    /* 애니메이션 효과 추가 */
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* 애니메이션 활성화 시 적용될 클래스 */
.showText {
    opacity: 1;
    transform: translateX(0);
}

h3{
    font-weight: 800;
}

.appDownload{
    position: relative;
    height: 220px;
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(250, 250, 250);
    padding: 32px 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

.noticeLink{
    width: 300px;
    height: 52px;
    padding: 20px 20px 26px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
}

.appTitle{
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin-bottom: 5px;
}

.appStore{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 22px;
    line-height: 30px;
    transform: translateX(-2px);
}

.qrCode{
    position: absolute;
    top: 32px;
    right: 20px;
}

.appStore > button {
    position: relative;
}

.appleStore{
    position: relative;
}

.iconButtonWrapper{
    display: flex;
    align-items: center;
}

.iconButtonWrapper::after{
    content: "";
    display: block;
    background-color: rgb(228, 228, 228);
    height: 10px;
    width: 1px;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}

.appStoreName{
    font-size: 12px;
    line-height: 16px;
    color: rgb(102, 102, 102);
    font-weight: 700;
    margin-left: 4px;
}

.appStoreName::after{
    content: "";
    display: block;
    background-color: rgb(228, 228, 228);
    height: 10px;
    width: 1px;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}

.googlePlay{
    border: none;
    border-radius: 0px;
    background: none;
    cursor: pointer;
}

.googlePlay > span > .iconButtonWrapper::after , .appStoreName::after{
    display: none;
}

.qrCode > img{
    height: 80;
    width: 80;
}

.loginButton{
    margin-top: 28px;
    width: 100%;
    font-weight: 700;
    border-radius: 8px;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 48px;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.leftButton{
    display: block;
    z-index: 2;
    position: absolute;
    bottom: 40px;
    left: 50px;
    padding: 0.3px;
    width: 41px;
    height: 41px;
}

.leftButton>svg>g>path:first-child{
    opacity: 0.5;
    fill: transparent;
    stroke: rgb(255, 255, 255);
}

.leftButton>svg>g>path:first-child:hover{
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
}

.leftButton>svg>g>path:nth-child(2){
    fill: rgb(255, 255, 255);
}

.leftButton:hover>svg>g>path:nth-child(2){
    fill: rgb(0, 0, 0);
}

.rightButton>svg>g>path:first-child{
    opacity: 0.5;
    fill: transparent;
    stroke: rgb(255, 255, 255);
}

.rightButton>svg>g>path:first-child:hover{
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255); 
}

.rightButton>svg>g>path:nth-child(2){
    fill: rgb(255, 255, 255);
}

.rightButton:hover>svg>g>path:nth-child(2){
    fill: rgb(0, 0, 0);
}

.rightButton{
    display: block;
    position: absolute;
    bottom: 40px;
    left: 110px;
    padding: 0.3px;
    width: 41px;
    height: 41px;
}

.noticeLink > h2{
    color: rgb(0, 221, 109);
    font-size: 13px;
    line-height: 18px;
}

.noticeList{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.noticeCon{
    color: rgb(34, 34, 34);
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}

.noticeDate{
    color: rgb(153, 153, 153);
    flex-shrink: 0;
    font-size: 14px;
    line-height: 20px;
}

.mainContentsTitleWrapper{
    display: flex;
    margin-bottom: 6px;
}

.mainContentsList{
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.mainContentsTitle{
    font-size: 24px;
    line-height: 32px;
    padding: 0px 10px;
    font-weight: 700;
}

.mainContentCard{
    opacity: initial;
    position: relative;
    width: calc(25% - 20px);
    flex: 1 1 22%;
    box-sizing: border-box;
    padding: 10px;
    max-width: 270px;
}

.imgBox{
    width: 100%;
    height: 166px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.contentText{
    padding: 12px 0px 36px;
    width: calc(100% - 7px);
}

.imgBox>img{
    width: 250px;
    height: 166px;
    object-fit: cover;
    transition: 0.3s;
}

.imgBox:hover > img{
    transform: scale(1.2);
}

.imgDdayBadge{
    position: absolute;
    gap: 4px;
    display: flex;
    top: 12px;
    left: 12px;
    z-index: 1;
}

.dayLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 2px 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: rgb(68, 68, 68);
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px, rgba(0, 0, 0, 0.08) 0px -2px 4px 0px;
}

.count{
    position: absolute;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 18px;
    z-index: 1;
    display: none;
    top: 16px;
    right: 16px;
}

.imgBox:hover > .count{
    display: flex;
}

.scrapButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.scrapButton > svg{
    width: 16px;
    height: 16px;
}

.scrapButton > svg > path{
    fill: rgb(255, 255, 255);
}

.companyName{
    display: flex;
    align-items: center;
}

.positionCardTitle{
    margin-top: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.companyName>span{
    font-size: 14px;
    line-height: 20px;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.requiredSkill{
    display: flex;
    margin-top: 8px;
    font-size: 13px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    height: 18px;
    flex-wrap: wrap;
    overflow: hidden;
}

.requiredSkill>li:first-child{
    max-width: 58%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.requiredSkill>li{
    margin-right: 5px;
}

.companyLocation{
    display: flex;
    font-size: 13px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin-top: 4px;
}

.companyLocation>li:first-child{
    max-width: 58%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.companyLocation>li{
    margin-right: 5px;
}

.companyLocation>li:last-child::before{
    content: "· ";
}

footer{
    background-color: rgb(251, 251, 251);
    padding: 40px 0px 30px;
}

.inner{
    max-width: 1060px;
    position: relative;
    margin: 0px auto;
    padding: 24px 0px 60px;
    text-align: left;
}

.inner::after{
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.inner > .logo {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 42px;
    height: 22px;
}

.contents{
    display: flex;
    padding-left: 92px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.linksWrap{
    display: flex;
    width: 250px;
}

.info{
    display: inline-block;
    width: 718px;
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 18px;
}

.links>li{
    display: inline-block;
    margin-bottom: 8px;
}

.links>li>a{
    display: inline-block;
    color: rgb(68, 68, 68);
    font-size: 14px;
    line-height: 20px;
}

.links>li:nth-child(2n+1){
    width: 140px;
}

.blind{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.info>dd{
    padding-bottom: 16px;
}

.snsIcon{
    margin-top: 14px;
}

.snsIcon>a>img {
    margin-right: 8px;
}

.slickSlider{
    position: relative;
    display: block;
}

.slickList{
    transform: translateZ(0);
    overflow: hidden;
}

.slickTrack{
    width: 700px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
}

.slickTrack::before{
    display: table;
    content: "";
}

.sideSlickSlide{
    display: block;
    outline: none;
    width: 100px;
}

.slickSlideLink{
    width: 100%;
    display: inline-block;
}

.sideSlideImg1{
    width: 100px;
    height: 148px;
    margin-top: 10px;
    cursor: pointer;
    background: url("https://cdn.jumpit.co.kr/jumpit/banner/home/programmers_wing.webp") 0% 0% / 100px 148px no-repeat;
}

.sideSlideImg2{
    width: 100px;
    height: 148px;
    margin-top: 10px;
    cursor: pointer;
    background: url("https://cdn.jumpit.co.kr/jumpit/banner/home/komate_launching_wing.webp") 0% 0% / 100px 148px no-repeat;
}

.sideSlideImg3{
    width: 100px;
    height: 148px;
    margin-top: 10px;
    cursor: pointer;
    background: url("https://cdn.jumpit.co.kr/jumpit/personal/main_banner/event_for_develop_banner.png") 0% 0% / 100px 148px no-repeat;
}

.sideSlideButtonWrapper{
    display: flex;
    justify-content: space-around;
    width: 29px;
    margin: 0px auto;
}

.sideSlideButton>span{
    display: inline-block;
    width: 5px;
    height: 5px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(212, 212, 212);
}

.loginedMemberButton{
    padding-top: 1px;
    height: 42px;
}

.loginedMemberButton button{
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rightNavigation li button{
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    text-align: end;
}

.rightNavigation li button:hover{
    color: rgb(34, 34, 34);
}

.loginedMemberButton svg{
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.loginedMemberButton:hover svg {
    transform: rotate(180deg);
}

.loginedMemberButton svg path{
    fill: rgb(204, 204, 204);
}

.loginMemberNav{
    display: none;
    position: absolute;
    width: 175px;
    right: 0px;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    box-shadow: rgba(20, 20, 20, 0.12) 0px 8px 16px;
    border-radius: 4px;
    padding: 8px 0px;
    background-color: rgb(255, 255, 255);
}

.loginMemberNav ul li:hover{
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

.loginMemberNav li button:hover{
    color: rgb(34, 34, 34);
}

.loginMemberNav ul li{
    position: relative;
    padding: 0px 12px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 22px;
}

.loginMemberNav ul li > a, .loginMemberNav ul li button{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0px 8px;
    font-weight: normal;
}

footer{
    background-color: rgb(251, 251, 251);
    padding: 40px 0px 30px;
}

.inner{
    max-width: 1060px;
    position: relative;
    margin: 0px auto;
    padding: 24px 0px 60px;
    text-align: left;
}

.inner::after{
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.inner > .logo {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 42px;
    height: 22px;
}

.contents{
    display: flex;
    padding-left: 92px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.linksWrap{
    display: flex;
    width: 250px;
}

.info{
    display: inline-block;
    width: 718px;
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 18px;
}

.links>li{
    display: inline-block;
    margin-bottom: 8px;
}

.links>li>a{
    display: inline-block;
    color: rgb(68, 68, 68);
    font-size: 14px;
    line-height: 20px;
}

.links>li:nth-child(2n+1){
    width: 140px;
}

.blind{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.info>dd{
    padding-bottom: 16px;
}

.snsIcon{
    margin-top: 14px;
}

.snsIcon>a>img {
    margin-right: 8px;
}

.slickSlider{
    position: relative;
    display: block;
}

.slickList{
    transform: translateZ(0);
    overflow: hidden;
}

.slickTrack{
    width: 700px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
}

.slickTrack::before{
    display: table;
    content: "";
}

.sideSlickSlide{
    display: block;
    outline: none;
    width: 100px;
}

.slickSlideLink{
    width: 100%;
    display: inline-block;
}

.sideSlideImg1{
    width: 100px;
    height: 148px;
    margin-top: 10px;
    cursor: pointer;
    background: url("https://cdn.jumpit.co.kr/jumpit/banner/home/programmers_wing.webp") 0% 0% / 100px 148px no-repeat;
}

.sideSlideImg2{
    width: 100px;
    height: 148px;
    margin-top: 10px;
    cursor: pointer;
    background: url("https://cdn.jumpit.co.kr/jumpit/banner/home/komate_launching_wing.webp") 0% 0% / 100px 148px no-repeat;
}

.sideSlideImg3{
    width: 100px;
    height: 148px;
    margin-top: 10px;
    cursor: pointer;
    background: url("https://cdn.jumpit.co.kr/jumpit/personal/main_banner/event_for_develop_banner.png") 0% 0% / 100px 148px no-repeat;
}

.sideSlideButtonWrapper{
    display: flex;
    justify-content: space-around;
    width: 29px;
    margin: 0px auto;
}

.sideSlideButton>span{
    display: inline-block;
    width: 5px;
    height: 5px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(212, 212, 212);
}