<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="description" content="개발자 채용이 필요한 순간, 점핏으로 충분합니다">
    <meta name="naver-site-verification"
        content="1d04e6a7cdb21de79c6f6d0bff593aeb5fdefd70">
    <title> 기업 | 지원자 관리</title>
    <link rel="icon"
        href="https://cdn.jumpit.co.kr/jumpit/favicon.png">
    <link rel="stylesheet"
        href="/css/enterprise/mypage-headerfooter.css">
    <link rel="stylesheet"
        href="/css/enterprise/applicant-manage.css">
    <link rel="stylesheet"
        href="/css/enterprise/applicantmanagementleft.css">

</head>

<body>
    <div id="root">
        <!-- <div id="skipnavigation"><a href="/#content">본문 바로가기</a></div> -->

        <div id="main-body">
            <div class="sidebar">
                <h2>지원자관리</h2>
                <button class="all">포지션 전체</button>
                <button class="triangle"><span>진행중 포지션</span></button>
                <ul></ul>
                <button class="triangle"><span>마감된 포지션</span></button>
                <ul></ul>
            </div>
            <div>
                <div class="top-banner">
                    <div class="new-menu selected">신규지원자(12)</div>
                    <div class="paperpassed-menu">서류통과(10)</div>
                    <div class="pass-menu">최종합격(14)</div>
                    <div class="fail-menu">불합격(90)</div>
                </div>
                <div class="container new-applicant">
                    <div class="dropdown">
                        <button class="dropdown-button">열람여부
                            ▼</button>
                        <div class="dropdown-menu">
                            <div class="readcheck">열람</div>
                            <div class="unreadcheck">미열람</div>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropdown-button">상태변경
                            ▼</button>
                        <div class="dropdown-menu">
                            <div class="docu-pass">서류통과</div>
                            <div class="fail">불합격</div>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>지원일</th>
                                <th>이름</th>
                                <th>경력</th>
                                <th>지원 포지션</th>
                                <th>지원 상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.31</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>프론트엔드 개발자</td>
                                <td class="read">열람</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.30</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>프론트엔드 개발자</td>
                                <td class="unread">미열람</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="passed"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="canceled">
                                    <span>지원취소</span><span
                                        class="delete">삭제</span></td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="judging">
                                    <span class="good-evaluation"><img
                                            src="/images/enterprise/thumb-up-green.png">99</span>
                                    <span class="bad-evaluation"><img
                                            src="/images/enterprise/thumb-down-red.png">99</span>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="container paper-passed hidden">
                    <div class="topmenu-wrapper">
                        <div class="dropdown">
                            <button class="dropdown-button">상태변경
                                ▼</button>
                            <div class="dropdown-menu">
                                <div class="docu-pass">서류통과</div>
                                <div class="fail">불합격</div>
                            </div>
                        </div>
                        <div class="sendemail">
                            <button class="sendemail-button">이메일
                                발송</button>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>지원일</th>
                                <th>이름</th>
                                <th>경력</th>
                                <th>지원 포지션</th>
                                <th>지원 상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.31</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>프론트엔드 개발자</td>
                                <td class="read">서류통과</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.30</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>프론트엔드 개발자</td>
                                <td class="unread">서류통과</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="passed">서류통과</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="canceled">
                                    <span>지원취소</span><span
                                        class="delete">삭제</span></td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="judging">
                                    <span class="good-evaluation"><img
                                            src="/images/enterprise/thumb-up-green.png">99</span>
                                    <span class="bad-evaluation"><img
                                            src="/images/enterprise/thumb-down-red.png">99</span>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status">서류통과</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status">서류통과</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="container final-passed hidden">
                    <!-- <div class="dropdown">
                        <button class="dropdown-button">열람여부 ▼</button>
                        <div class="dropdown-menu">
                            <div>열람</div>
                            <div>미열람</div>
                        </div>
                    </div> -->
                    <div class="topmenu-wrapper">
                        <div class="dropdown">
                            <button class="dropdown-button">상태변경
                                ▼</button>
                            <div class="dropdown-menu">
                                <div class="docu-pass">서류통과</div>
                                <div class="fail">불합격</div>
                            </div>
                        </div>
                        <div class="sendemail">
                            <button class="sendemail-button">이메일
                                발송</button>
                        </div>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>지원일</th>
                                <th>이름</th>
                                <th>경력</th>
                                <th>지원 포지션</th>
                                <th>지원 상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.31</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>프론트엔드 개발자</td>
                                <td class="read">최종합격</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.30</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>프론트엔드 개발자</td>
                                <td class="unread">최종합격</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="passed">최종합격</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="canceled">
                                    <span>지원취소</span><span
                                        class="delete">삭제</span></td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="judging">
                                    <span class="good-evaluation"><img
                                            src="/images/enterprise/thumb-up-green.png">99</span>
                                    <span class="bad-evaluation"><img
                                            src="/images/enterprise/thumb-down-red.png">99</span>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status">최종합격</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="container failed hidden">
                    <!-- <div class="dropdown">
                        <button class="dropdown-button">열람여부 ▼</button>
                        <div class="dropdown-menu">
                            <div class="readcheck">열람</div>
                            <div class="unreadcheck">미열람</div>
                        </div>
                    </div> -->
                    <div class="topmenu-wrapper">
                        <div class="dropdown">
                            <button class="dropdown-button">상태변경
                                ▼</button>
                            <div class="dropdown-menu">
                                <div class="docu-pass">서류통과</div>
                                <div class="final-pass">최종합격</div>
                                <div class="fail">불합격</div>
                            </div>
                        </div>
                        <div class="sendemail">
                            <button class="sendemail-button">이메일
                                발송</button>
                        </div>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>지원일</th>
                                <th>이름</th>
                                <th>경력</th>
                                <th>지원 포지션</th>
                                <th>지원 상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.31</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>프론트엔드 개발자</td>
                                <td class="read">불합격</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.30</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>프론트엔드 개발자</td>
                                <td class="unread">불합격</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="passed">불합격</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="canceled">
                                    <span>지원취소</span><span
                                        class="delete">삭제</span></td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="judging">
                                    <span class="good-evaluation"><img
                                            src="/images/enterprise/thumb-up-green.png">99</span>
                                    <span class="bad-evaluation"><img
                                            src="/images/enterprise/thumb-down-red.png">99</span>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"
                                        class="statuscheck"></td>
                                <td>2022.12.28</td>
                                <td>김정호</td>
                                <td>10년 이상</td>
                                <td>백엔드 개발자</td>
                                <td class="status"></td>
                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="pagination">
                    <button class="previouspage">
                        << /button>
                            <button class="active">1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                            <button>5</button>
                            <button>6</button>
                            <button>7</button>
                            <button>8</button>
                            <button>9</button>
                            <button>10</button>
                            <button class="nextpage">></button>

                </div>
            </div>
        </div>


    </div>
    <div id="modal">
        <div id="emailModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>‘서류통과’ 상태로 변경</h3>
                    <span class="close" id="closeModal">&times;</span>
                </div>
                <div class="input-group">
                    <label>받는 사람</label>
                    <input type="email" placeholder="이메일 입력">
                </div>
                <div class="input-group">
                    <label>제목</label>
                    <input type="text"
                        value="[기업이름]의 '[포지션제목]' 포지션에 서류통과하셨습니다"
                        readonly>
                </div>
                <div class="email-content">
                    <p><strong>{지원자이름}</strong>님 안녕하세요.</p>
                    <p><strong>{기업이름}</strong> 채용담당자입니다.</p>
                    <p>{기업이름}의 '{포지션제목}' 포지션에 지원해 주셔서 감사합니다. 제출해 주신
                        이력서를 기반으로 이야기 나누어보는 시간을 가지고자 합니다. 면접 일정은 별도로
                        안내해 드리겠습니다.</p>
                    <p>감사합니다.</p>
                </div>
                <div class="modal-footer button-group">
                    <button class="cancel-button"
                        id="closeModal2">취소</button>
                    <button class="send-button">서류통과 및 결과 안내
                        메일발송</button>
                </div>
            </div>
        </div>

    </div>

</body>
<script src="/js/aside/applicantmanagementleft.js"></script>
<script src="/js/enterprise/applicant-manage.js"></script>

</html>