<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/enterprise/positionregisterleft.css" />
    </head>
    <body>
        <div class="sidebar left">
            <div class="headbar">
                <div class="circle-container">
                    <p class="circle red"></p>
                    <p class="circle yellow"></p>
                    <p class="circle green"></p>
                </div>
                <div class="other-container">
                    <p>점핏</p>
                    <div class="vertical-line"></div>
                    <p>포지션 미리보기</p>
                </div>
            </div>
            <div class="contentbar">
                <div class="comment">입력한 포지션 정보를 미리 확인해보세요</div>
                <div class="title">
                    <h1>[점핏] Java 백엔드 개발자</h1>
                    <p style="margin: 10px 0;">
                        <img
                            src="https://oopy.lazyrockets.com/api/rest/cdn/image/f6190c63-320b-4330-ab75-9d17d85239e3.png"
                            alt="home"
                            class="css-cvdst6 ej0hkt119"
                            style="height: 18px"
                        /><strong>점핏</strong>
                    </p>
                </div>
                <div class="content">
                    <!-- <h2>기술 스택</h2>
                    <pre>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="Spring Framework" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/springframework.png">Spring Framework</div>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="Kafka" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/kafka.png">Kafka</div>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="Java" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/java.png">Java</div>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="Redis" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/redis.png">Redis</div>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="MSSQL" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/mssql.png">MSSQL</div>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="Spring" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/spring.png">Spring</div>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="Confluence" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/confluence.png">Confluence</div>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="Oracle" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/oracle.png">Oracle</div>
                        <div class="sc-d9de2de1-0 hMgXwE"><img alt="Jira" height="20" width="20" src="https://cdn.jumpit.co.kr/images/stacks/jira.png">Jira</div>]
                    </pre> -->
                    <h2>주요업무</h2>
                    <p class="circle">사방넷 플랫폼 빌링서비스(상품/주문/결제/매출) 개발 및 운영</p>
                    <p class="circle">사방넷 플랫폼 빌링서비스 고도화</p>
                    <p class="circle">통합 결제 플랫폼, MSA 기반 서비스 개발</p>
                    <p class="circle">빌링 서비스 성능개선 및 서비스 개선</p>
                    <h2>자격요건</h2>
                    <p class="circle">Java(Spring) 개발 3년 이상</p>
                    <p class="circle">빌링 서비스 개발 및 운영 경험</p>
                    <p class="circle">MSA 기반 서비스 개발 경험</p>
                    <p class="circle">통합 결제 플랫폼 개발 경험</p>
                    <p class="circle">성능개선 및 서비스 개선 경험</p>
                    <p class="circle">대용량 트래픽 서비스 개발 및 운영 경험</p>
                    <p class="circle">문제해결 능력 및 커뮤니케이션 능력</p>
                    <p class="circle">문제해결 능력 및 커뮤니케이션 능력</p>
                    <p class="circle">문제해결 능력 및 커뮤니케이션 능력</p>
                    <p class="circle">문제해결 능력 및 커뮤니케이션 능력</p>
                    <p class="circle">문제해결 능력 및 커뮤니케이션 능력</p>
                    <p class="circle">문제해결 능력 및 커뮤니케이션 능력</p>
                    <p class="circle">문제해결 능력 및 커뮤니케이션 능력</p>
                </div>
            </div>
            <div class="applybar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path
                        fill="#fff"
                        fill-rule="evenodd"
                        d="M10.725 14.71a2 2 0 0 1 2.55 0l3.975 3.289V5H6.75v12.999l3.975-3.29ZM4.75 20.123V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.124a1 1 0 0 1-1.638.77L12 16.25l-5.612 4.645a1 1 0 0 1-1.638-.77Z"
                        clip-rule="evenodd"
                    ></path></svg
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                >
                    <path
                        fill="#FFF"
                        fill-rule="evenodd"
                        d="M17.75 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm-3.5 1.5a3.5 3.5 0 1 1 1.131 2.577L9.686 11.33a3.518 3.518 0 0 1 .045 1.032l5.5 3.207a3.5 3.5 0 1 1-.92 1.779l-5.358-3.125a3.5 3.5 0 1 1-.195-4.666l5.598-3.199a3.505 3.505 0 0 1-.106-.859Zm-8 5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm10 7.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
                <p>지원하기</p>
            </div>
        </div>
    </body>
</html>
