<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="description" content="개발자 채용이 필요한 순간, 점핏으로 충분합니다">
    <meta name="naver-site-verification" content="1d04e6a7cdb21de79c6f6d0bff593aeb5fdefd70">
    <title>기업 서비스 | 템프 목록</title>
    <link rel="icon" href="https://cdn.jumpit.co.kr/jumpit/favicon.png">
    <link rel="stylesheet" href="/css/enterprise/mypage-positionlist1.css">
    <link rel="stylesheet" href="/css/enterprise/mypage-positionlist2.css">
    <link rel="stylesheet" href="/css/enterprise/mypage-headerfooter.css">
    <style>
        @font-face {
            font-family: Jumpit;
            src: url("/fonts/member/ff840cfebfb63b0c-s.p.woff2");
        }

        * {
            font-family: Jumpit;
        }
    </style>
</head>

<header th:replace="/enterprise/headerfooteredited.html :: .header"></header>
<body>
    <div id="root">
        <div id="skipnavigation"><a href="/#content">본문 바로가기</a></div>

        <!-- <div> -->
        <!-- <div class="main-wrapper">
                <div id="content" class="basic">
                    <div>
                        <h1>마이템프</h1>
                        <div class="registerbtn">포지션 등록</div>
                    </div>
                    
                </div>

            </div> -->
        <div class="container">
            <div class="title">
                <h2>포지션 리스트</h2>
                <button class="register-btn">포지션 등록</button>
            </div>
<!-- 폰트 굵기는 전체적으로 얇게, 크기도 약간 작게, 3안 정도 제작해서 메일로 보고하기 -->
            <div class="columns">
                <div class="column" id="work">
                    <div class="card-text-wrapper">
                        <h3>진행중 </h3>
                        <h3> 5</h3>
                    </div>


                </div>
                <div class="column" id="wait">
                    <div class="card-text-wrapper">
                        <h3>승인 요청중</h3>
                        <h3>5</h3>
                    </div>

                </div>
                <div class="column" id="write">
                    <div class="card-text-wrapper">
                        <h3>작성중</h3>
                        <h3>5</h3>
                    </div>
                </div>
                <div class="column" id="end">
                    <div class="card-text-wrapper">
                        <h3>마감</h3>
                        <h3>5</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- 채울 내용은 이 태그 안에 작성. -->
    </div>
    <footer th:replace="/enterprise/headerfooteredited.html :: .footer"></footer>

    <div id="modal"></div>

</body>
<script src="/js/enterprise/company-program-service.js"></script>
<script src="/js/enterprise/company-program-layout.js"></script>
<script src="/js/enterprise/company-program-event.js"></script>
<script src="/js/enterprise/header.js"></script>
</html>