<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/aside/administratorAccountRight.css" />
        <title>내 계정 정보</title>
    </head>
    <body>
        <div class="sidebar">
            <h2>내 계정 정보</h2>

            <label for="name">이름</label>
            <div class="input-group">
                <input type="text" id="name" value="김점핏" />
                <button class="btnsave">저장</button>
            </div>

            <label for="phone">연락처</label>
            <div class="input-group">
                <input type="text" id="phone" value="01012345679" />
                <button class="btnmodi">변경</button>
            </div>

            <label>이메일 주소</label>
            <p class="email">jumpit@jumpit.co.kr</p>
            <p class="email-info">이메일 변경을 원하시는 경우에는 고객센터로 문의 바랍니다.</p>
            <hr class="custom-hr" />
            <button class="password-btn">비밀번호 변경</button>
        </div>
    </body>
</html>
