<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/aside/applicantManagementLeft.css" />
        <title>지원자 관리</title>
    </head>
    <body>
        <div class="sidebar">
            <h2>지원자관리</h2>
            <button class="all">포지션 전체</button>
            <button class="triangle"><span>진행중 포지션</span></button>
            <ul></ul>
            <button class="triangle"><span>마감된 포지션</span></button>
            <ul></ul>
        </div>
    </body>
    <script src="/js/aside/applicantManagementLeft.js"></script>
</html>
