<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/aside/applicantEvaluateRightTop.css" />
        <title>지원자 상태</title>
    </head>
    <body>
        <div class="sidebar">
            <div class="head">
                <span class="badge">신규지원자</span>
                <p>지원자번호 629</p>
            </div>
            <p class="class">상반기 iOS Mobile Engineer<br />신입/경력 개발자 채용</p>
            <div class="person">
                <p class="name">김점핏</p>
                <img src="/images/aside/whiteStar.png" />
            </div>
            <div class="phone">
                <img src="/images/aside/phone.png" />
                <span>01011111111</span>
            </div>
            <div class="mail">
                <img src="/images/aside/mail.png" />
                <span>jumpit@jumpit.co.kr</span>
            </div>
            <div class="buttons">
                <button class="pass">최종합격</button>
                <button class="fail">불합격</button>
            </div>
        </div>
        <div class="sidebar-modal-body"></div>
    </body>
    <script src="/js/aside/applicantEvaluateRightTop.js"></script>
</html>
