<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/enterprise/positionregisterright.css">
    </head>
    <body>
        <div class="sidebar right">
            <div class="info">포지션 번호 : 10514</div>
            <div class="guide">포지션 등록 가이드 확인</div>
            <button class="approve">승인요청</button>
            <button class="save">임시저장</button>
            <button class="delete">포지션 삭제</button>
            <div class="agreement">
                <input type="checkbox" id="agreement-checkbox" />
                <label for="agreement-checkbox">채용 성공 시, <span class="red-text">합격자 연봉의 7% 수수료 발생</span>에 대해 확인하였으며 이에 동의합니다. <span class="red-text">(필수)
            </div>
            <div class="notify">수수료에 대한 부가세는 별도이며,</div>
            <div class="notify">수수료율은 계약서를 우선시 합니다.</div>
        </div>
    </body>
    <script src="/js/aside/positionregisterright.js"></script>
<!-- </html> -->
