<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.temp.mapper.CompanyFileMapper">

<!--    &lt;!&ndash;기업 로고 저장&ndash;&gt;-->
<!--    <insert id="insertMemberFile">-->
<!--        INSERT INTO TBL_COMPANY_FILE (ID, COMPANY_ID, COMPANY_FILE_TYPE)-->
<!--        VALUES (#{id}, #{companyId}, '기업로고')-->
<!--    </insert>-->

    <!--기업 썸네일-->
    <insert id="insertMemberFile">
        INSERT INTO TBL_COMPANY_FILE (ID, COMPANY_ID, COMPANY_FILE_TYPE)
        VALUES (#{id}, #{companyId}, '이미지')
    </insert>
</mapper>