<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.temp.mapper.InquiryAnswerMapper">

    <insert id="insert">
        INSERT INTO TBL_INQUIRY_ANSWER(ID, INQUIRY_ANSWER_TITLE, INQUIRY_ANSWER_DETAIL, MEMBER_INQUIRY_ID)
        VALUES(SEQ_INQUIRY_ANSWER.NEXTVAL, #{inquiryAnswerTitle}, #{inquiryAnswerDetail}, #{memberInquiryId})

    </insert>
<!--    답변은 크게 2종류 임시저장/발송
발송할 때나 임시저장 일때나, 무조건 update는 실행.
-->

</mapper>