<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.temp.mapper.ReportMapper">
    <select id="selectReportListDtoByMemberId" resultType="reportListDTO">
        SELECT MEMBER_ID, REPORT_TYPE, REPORT_STATUS, CREATED_DATE FROM TBL_REPORT
        WHERE MEMBER_ID = #{id}
    </select>

    <select id="selectCompanyReportDTOByCompanyId" resultType="companyReportDTO">
        SELECT CM.COMPANY_ID, R.REPORT_TYPE, R.REPORT_STATUS
        FROM TBL_REPORT R
                 JOIN TBL_COMPANY_MEMBER CM
                      ON R.MEMBER_ID = CM.ID
    </select>

    <select id="selectReportDetailById" resultType="reportInfoDTO">
        SELECT R.ID, R.CREATED_DATE, M.MEMBER_NAME, R.REPORT_SUBJECT, R.REPORT_TYPE, R.REPORT_STATUS, R.REPORT_DETAIL
        FROM TBL_MEMBER M JOIN TBL_REPORT R
                               ON M.ID = R.MEMBER_ID
                                   AND R.ID = #{id}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(*)
        FROM TBL_MEMBER M
        JOIN TBL_REPORT RP ON RP.MEMBER_ID = M.ID
        <where>
            <trim prefixOverrides="AND">
                <if test="keyword != null and keyword != ''">
                    (M.MEMBER_NAME LIKE '%' || #{keyword} || '%'
                    OR RP.REPORT_SUBJECT LIKE '%' || #{keyword} || '%')
                </if>
                <if test="reportStatus != null and reportStatus != ''">
                    AND RP.REPORT_STATUS = #{reportStatus}
                </if>
                <if test="createdDateStart != null and createdDateStart != ''">
                    <![CDATA[
                    AND TO_CHAR(RP.CREATED_DATE, 'YYYY-MM-DD') >= #{createdDateStart}
                ]]>
                </if>
                <if test="createdDateEnd != null and createdDateEnd != ''">
                    <![CDATA[
                    AND TO_CHAR(RP.CREATED_DATE, 'YYYY-MM-DD') <= #{createdDateEnd}
                ]]>
                </if>
            </trim>
        </where>
    </select>

    <!--  신고목록 조회  -->
    <select id="selectAll" resultType="reportInfoDTO">
        SELECT
        ID, REPORT_SUBJECT, REPORT_TYPE, REPORT_DETAIL,
        REPORT_STATUS, MEMBER_NAME, CREATED_DATE
        FROM
        (
        SELECT
        ROWNUM R, ID, REPORT_SUBJECT, REPORT_TYPE, REPORT_DETAIL,
        REPORT_STATUS, CREATED_DATE, MEMBER_NAME
        FROM
        (
        SELECT
        RP.ID, RP.REPORT_SUBJECT, RP.REPORT_TYPE, RP.REPORT_DETAIL,
        RP.REPORT_STATUS, RP.CREATED_DATE, M.MEMBER_NAME
        FROM TBL_MEMBER M JOIN TBL_REPORT RP
        ON RP.MEMBER_ID = M.ID
        <!--  신고자나 신고대상으로 검색  -->
        <if test="keyword != null and keyword != ''">
            AND (M.MEMBER_NAME LIKE '%' || #{keyword} || '%'
            OR RP.REPORT_SUBJECT LIKE '%' || #{keyword} || '%')
        </if>
        <!--  처리상태로 필터링  -->
        <if test="reportStatus != null and reportStatus != ''">
            AND RP.REPORT_STATUS = #{reportStatus}
        </if>
        <!--  신고 기간으로 필터링  -->
        <if test="createdDateStart != null and createdDateStart != ''">
            <![CDATA[
                            AND TO_CHAR(RP.CREATED_DATE, 'YYYY-MM-DD') >= #{createdDateStart}
                        ]]>
        </if>
        <if test="createdDateEnd != null and createdDateEnd != ''">
            <![CDATA[
                            AND TO_CHAR(RP.CREATED_DATE, 'YYYY-MM-DD') <= #{createdDateEnd}
                        ]]>
        </if>
        ORDER BY RP.ID DESC
        )
        <![CDATA[
        WHERE ROWNUM <= #{endRow}
            ]]>
        )
        <![CDATA[
    WHERE R >= #{startRow}
    ]]>
    </select>
    <update id="updateReportStatus">
        UPDATE TBL_REPORT
        SET REPORT_STATUS=#{reportStatus}
        WHERE ID=#{id}
    </update>
</mapper>