.header-sc {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
}
@media (max-width: 1080px) {
    .header-sc {
        border-bottom: unset;
    }
}
.div-sc1 {
    position: relative;
    max-width: 1060px;
    margin: 0px auto;
}

.div-sc2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    transition: 0.2s;
}
@media (max-width: 1080px) {
    .div-sc2 {
        padding: 0px 16px;
    }
}
.div-sc2 .logo-wrap {
    padding-top: 5px;
}

.logo-top {
    display: inline-flex;
}

.searchbox-top {
    position: relative;
}
@media (max-width: 1080px) {
    .searchbox-top {
        display: flex;
    }
}
.searchbox-inner {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 1060px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.searchbox-inner .search-box {
    width: 480px;
    height: 40px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 100px;
    border: 1.5px solid rgb(0, 221, 109);
}

.searchbox-inner .search-box input {
    width: 100%;
    padding: 0px 40px 0px 44px;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0px;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
}
.searchbox-inner .search-box input:focus{
    outline:none;
}

.searchbox-inner .search-button {
    position: absolute;
    left: 16px;
    top: 8px;
}

.searchbox-inner .search-button svg g circle {
    stroke: rgb(0, 221, 109);
}

.searchbox-inner .search-button svg g path {
    stroke: rgb(0, 221, 109);
}

.searchbox-inner .close-button {
    display: none;
}

.searchbox-hidden {
    position: absolute;
    top: 51px;
    left: 0px;
    width: 472px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    box-shadow: rgba(20, 20, 20, 0.12) 0px 8px 16px;
    border-radius: 8px;
    z-index: 6;
    padding: 24px;
    display: none;
}

.recentsearch {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 12px;
}

.recentsearch h4 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.searchbox-hidden-content {
    padding: 28px 0px 36px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}

.searchbox-onclick {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}
/*  ---------------------------------------------- */
.nav-sc3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}
@media (max-width: 1080px) {
    .nav-sc3 {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        flex-wrap: nowrap;
        padding: 0px 16px;
        border-bottom: 1px solid rgb(228, 228, 228);
    }
}
.header4 {
    display: flex;
    margin-left: -20px;
}
@media (max-width: 1080px) {
    .header4 {
        margin-left: -10px;
        padding: 0px 20px 0px 0px;
    }
}
.header4>li {
    position: relative;
    padding: 0px 20px;
}
@media (max-width: 1080px) {
    .header4 > li {
        padding: 0px 10px;
    }
}
.header-element5 {
    font-weight: 400;
}

.header4>li>a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 10px 4px;
    font-size: 16px;
    line-height: 24px;
}

.header-right6 {
    display: flex;
    margin-right: -12px;
    font-size: 14px;
    line-height: 20px;
}
@media (max-width: 1080px) {
    .header-right6 {
        display: none;
    }
}
.header-right-user7 {
    padding-top: 1px;
    height: 42px;
}

.header-right-menu8 {
    display: none;
    position: absolute;
    width: 175px;
    right: 0px;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    box-shadow: rgba(20, 20, 20, 0.12) 0px 8px 16px;
    border-radius: 4px;
    padding: 8px 0px;
    background-color: rgb(255, 255, 255);
}

.header-right-user7 button {
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-right6 li {
    position: relative;
    padding: 0px 12px;
}

.header-right6 li button {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    text-align: end;
}

.header-right-user7 svg {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.header-right-menu8 ul li {
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 22px;
}

.header-right-menu8 ul li>a,
.header-right-menu8 ul li button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0px 8px;
    font-weight: normal;
}

.main-sc0 {
    background-color: rgb(255, 255, 255);
    padding-top: 120px;
}

.main-wrapper0 {
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0px auto;
    padding: 48px 0px 120px;
}

.main-content1 {
    width: 210px;
    height: 200px;
}

.main-content1>div {
    position: fixed;
    content: "";
    display: block;
    width: 210px;
}

.main-content1>div>h2 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}

.mypagemenu1 {
    width: 210px;
    position: relative;
}

.mypagemenu2 {
    font-size: 15px;
    line-height: 22px;
    color: rgb(34, 34, 34);
    margin-bottom: 24px;
    cursor: pointer;
    position: relative;
    font-weight: 400;
}

.mypagemenu2-1 {
    font-size: 15px;
    line-height: 22px;
    color: rgb(34, 34, 34);
    margin-bottom: 24px;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    border-top: 1px solid rgb(228, 228, 228);
    padding-top: 24px;
}
.mypagemenu2-2 {
    font-size: 15px;
    line-height: 22px;
    color: rgb(34, 34, 34);
    margin-bottom: 24px;
    cursor: pointer;
    position: relative;
    font-weight: 900;
}
.mymenu-popuptext {
    cursor: default;
    position: absolute;
    z-index: 2;
    background-color: rgb(36, 36, 36);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px;
    font-size: 13px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    display: inline-block;
    white-space: pre;
    text-align: left;
    top: 65px;
    left: 100px;
    animation: 3s ease 0s 1 normal forwards running dYtXSc;
    /* 다른 부분과 비교 참고할 것. */
    will-change: opacity;
}

.mypagemenu-wrapper .green {
    color: rgb(0, 221, 109);
}

/* ===================== */
.main-content2 {
    width: 790px;
    position: relative;
}

.main-content2-inner>h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 24px;
}

.main-content2-inner>h1>span:nth-child(1) {
    font-size: 24px;
    line-height: 32px;
    color: rgb(34, 34, 34);
}

.main-content2-inner>h1>span:nth-child(2) {
    display: none;
    font-size: 24px;
    line-height: 32px;
    color: rgb(34, 34, 34);
}

.main-content2-inner>h1>span:nth-child(3) {
    display: flex;
    align-items: center;
    color: rgb(136, 136, 136);
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
}

.main-content2-inner>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% + 20px);
    margin: 0px 0px 0px -10px;
    left: 0px;

}

.scrap-wrap {
    width: calc(100% + 20px);
    padding: 0px 10px;
}

.scrap-list {
    background-color: rgb(251, 251, 253);
    width: 100%;
    height: 236px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrap-list>div {
    text-align: center;
}

.scrap-list>div>p {
    text-align: center;
}

.scrap-list>div>p:nth-child(1) {
    font-size: 28px;
    margin: 0px 0px 12px;
    font-weight: 500;
}

.scrap-list>div>p:nth-child(2) {
    color: rgb(34, 34, 34);
    font-weight: 700;
    margin: 0px 0px 4px;
    font-size: 17px;
    line-height: 24px;
}

.scrap-list>div>p:nth-child(3) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 16px;
}

.scarp-search-button {
    border-radius: 3px;
    height: 48px;
    width: 180px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

.scarp-search-button-color {
    background: rgb(0, 221, 109);
    border: 1px solid rgb(0, 221, 109);
    color: rgb(255, 255, 255);
}

.recommended {
    margin: 60px 0px 20px;
    position: relative;
}

.top-checkbox4 {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
    margin-right: 8px !important;
}

.top-checkbox4:checked {
    border-color: rgb(0, 221, 109);
    background: url("https://jumpit.saramin.co.kr/assets/images/attach-checked.svg") center center no-repeat;
}

.article-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% + 20px);
    margin: 0px 0px 0px -10px;
    left: 0px;
}

.main-content5-bottom-box {
    opacity: initial;
    position: relative;
    width: calc(33.3% - 20px);
    padding: 10px;
}

.main-content5-bottom-box:hover .img-filter {
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    width: calc(100% - 19px);
    height: 166px;
    position: absolute;
    top: 11px;
    z-index: 1;
    border-radius: 4px;
}

.main-content5-bottom-box .img-box {
    width: 100%;
    height: 166px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.main-content5-bottom-box:hover .img {
    transform: scale(1.2);
}

.main-content5-bottom-box .img-box .img {
    width: 250px;
    height: 166px;
    object-fit: cover;
    transition: 0.3s;
    image-rendering: -webkit-optimize-contrast;
}

.d-date {
    position: absolute;
    gap: 4px;
    display: flex;
    top: 12px;
    left: 12px;
    z-index: 1;
}

.d-date-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 2px 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: rgb(68, 68, 68);
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px, rgba(0, 0, 0, 0.08) 0px -2px 4px 0px;
}

.main-content5-bottom-box .img-box .counts {
    position: absolute;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 18px;
    z-index: 1;
}

.main-content5-bottom-box .counts .position-view-count {
    display: none;
}

.scrap-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content5-bottom-box .counts button {
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrap-button>svg {
    width: 16px;
    height: 16px;
}

.scrap-button>svg path {
    fill: rgb(255, 255, 255);
}

.content-text {
    padding: 12px 0px 36px;
    width: 100%;
}

.content-text1 {
    display: flex;
    align-items: center;
}

.content-text1 span {
    font-size: 14px;
    line-height: 20px;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-text h2 {
    margin-top: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-text2 {
    display: flex;
    margin-top: 8px;
    font-size: 13px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    height: 18px;
    flex-wrap: wrap;
    overflow: hidden;
}

.content-text2 li {
    margin-right: 5px;
}

.content-text2 li:first-child {
    max-width: 58%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.content-text3 {
    display: flex;
    font-size: 13px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin-top: 4px;
}

.content-text3 li {
    margin-right: 5px;
}

.content-text3 li:first-child {
    max-width: 58%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.content-text3 li:nth-of-type(2n)::before {
    content: "· ";
}